# Web Scraping with Python

Copying and pasting is great. You should definitely use it if it's the simplest way. But if you don't want to copy and paste 10 webpages into Excel or if you have some time to kill, then web scraping is the answer or time sink you've been looking for.

We start by importing the python modules that we will need to do web scraping. We will be using `requests` to fetch html pages and `BeautifulSoup` to parse the html page. `pandas` will be used for data manipulation. The `pd.options.display` lines are for formatting purposes when printing out results in `pandas`.

In [25]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

pd.options.display.max_rows = 10

# Example 1: Wikipedia Page (HTML Table)

We start by opening the <a href='https://en.wikipedia.org/wiki/List_of_countries_by_population_(United_Nations)'>website of interest</a> in a browser. We can see that it looks nicely formatted like a table. We start with passing the website of interest to the `requests.get` method.

In [26]:
url = r'https://en.wikipedia.org/wiki/List_of_countries_by_population_(United_Nations)'
R = requests.get(url)
R.raise_for_status()

**Note**: Without the `R.raise_for_status()` line, bad urls will fail silently which is probably not what you want.

We then use `BeautifulSoup` to parse the contents of the response.

In [27]:
soup = BeautifulSoup(R.content, 'html.parser')

Let's check the web page's html source code to see if we can see the data within the webpage (*right click -> view page source*). A quick way to check is to search for some data using find (*Ctrl+F*). We can search for the population of the World. We find it in the page source so we know `BeautifulSoup` can parse it. We'll see later on what to do if its not in the page source.

I like to use the browser's developer tool to do the detective work of figuring out where the data resides (*right click -> Inspect*). In this example, the data of interest resides in a html table (makes life easier). You can see a hierarchy in the html tags. The hierarchy is called a DOM (Document Object Model) Tree or Hierarchy.

We see that the data of interest resides in a table tag &lt;table&gt;. To grab everything between the table tags, we use the `find_all` method (one of many options but probably the only one you need and the one you will use most often).

In [28]:
tables = soup.find_all('table')

`find_all` returns a list of matches. We can use the `len` function to see how many matches came back.

In [29]:
len(tables)

4

We can check the contents of the table using the `text` method. It will be a formatting mess but that's okay.

In [30]:
tables[0].text

'\n\n\n\n\n\nIt has been suggested that this article be merged into List of countries and dependencies by population. (Discuss) Proposed since January 2018.\n\n\n'

In [31]:
tables[1].text

'\n\n\n\n\n\n\nStatistical regions as defined by the United Nations Statistics Division.[1] Antarctica is omitted.\n\n\n\n\n'

In [32]:
tables[2].text

'\nCountries and areas ranked by population in 2017\n\nRank\nCountry or area\nUN continental\nregion[2]\nUN statistical\nregion[2]\nPopulation\n(1 July 2016)[3]\nPopulation\n(1 July 2017)[3]\nChange\n\n\n—\nWorld\n—\n—\n7,466,964,280\n7,550,262,101\n7000111555135228260♠+1.1%\n\n\n1\n\xa0China[a]\nAsia\nEastern Asia\n1,403,500,365\n1,409,517,397\n6999428716097982630♠+0.4%\n\n\n2\n\xa0India\nAsia\nSouthern Asia\n1,324,171,354\n1,339,180,127\n7000113344643460699♠+1.1%\n\n\n3\n\xa0United States\nAmericas\nNorthern America\n322,179,605\n324,459,463\n6999707635730076710♠+0.7%\n\n\n4\n\xa0Indonesia\nAsia\nSouth-eastern Asia\n261,115,456\n263,991,379\n7000110139899186970♠+1.1%\n\n\n5\n\xa0Brazil\nAmericas\nSouth America\n207,652,865\n209,288,278\n6999787570641031120♠+0.8%\n\n\n6\n\xa0Pakistan\nAsia\nSouthern Asia\n193,203,476\n197,015,955\n7000197329731272540♠+2.0%\n\n\n7\n\xa0Nigeria\nAfrica\nWestern Africa\n185,989,640\n190,886,311\n7000263276545940949♠+2.6%\n\n\n8\n\xa0Bangladesh\nAsia\nSouthern Asia\n162,951,560\n164,669,751\n7000105441825779390♠+1.1%\n\n\n9\n\xa0Russia\nEurope\nEastern Europe\n143,964,513\n143,989,754\n5000000000000000000♠0.0%\n\n\n10\n\xa0Mexico\nAmericas\nCentral America\n127,540,423\n129,163,276\n7000127242246954130♠+1.3%\n\n\n11\n\xa0Japan\nAsia\nEastern Asia\n127,748,513\n127,484,450\n3000793294658545260♠−0.2%\n\n\n12\n\xa0Ethiopia\nAfrica\nEastern Africa\n102,403,196\n104,957,438\n7000249429910371160♠+2.5%\n\n\n13\n\xa0Philippines\nAsia\nSouth-eastern Asia\n103,320,222\n104,918,090\n7000154652009942450♠+1.5%\n\n\n14\n\xa0Egypt\nAfrica\nNorthern Africa\n95,688,681\n97,553,151\n7000194847497166360♠+1.9%\n\n\n15\n\xa0Vietnam\nAsia\nSouth-eastern Asia\n94,569,072\n95,540,800\n7000102753255313749♠+1.0%\n\n\n16\n\xa0Germany\nEurope\nWestern Europe\n81,914,672\n82,114,224\n6999243609594139630♠+0.2%\n\n\n17\n\xa0Democratic Republic of the Congo\nAfrica\nMiddle Africa\n78,736,153\n81,339,988\n7000330703863573320♠+3.3%\n\n\n18\n\xa0Iran\nAsia\nSouthern Asia\n80,277,428\n81,162,788\n7000110287539356640♠+1.1%\n\n\n19\n\xa0Turkey\nAsia\nWestern Asia\n79,512,426\n80,745,020\n7000155019040671710♠+1.6%\n\n\n20\n\xa0Thailand\nAsia\nSouth-eastern Asia\n68,863,514\n69,037,513\n6999252672264154290♠+0.3%\n\n\n21\n\xa0United Kingdom\nEurope\nNorthern Europe\n65,788,574\n66,181,585\n6999597384889357830♠+0.6%\n\n\n22\n\xa0France[b]\nEurope\nWestern Europe\n64,720,690\n64,979,548\n6999399961743300330♠+0.4%\n\n\n23\n\xa0Italy\nEurope\nSouthern Europe\n59,429,938\n59,359,900\n3000882150306130220♠−0.1%\n\n\n24\n\xa0Tanzania[c]\nAfrica\nEastern Africa\n55,572,201\n57,310,019\n7000312713545392960♠+3.1%\n\n\n25\n\xa0South Africa\nAfrica\nSouthern Africa\n56,015,473\n56,717,156\n7000125265924292030♠+1.3%\n\n\n26\n\xa0Myanmar\nAsia\nSouth-eastern Asia\n52,885,223\n53,370,609\n6999917810254860800♠+0.9%\n\n\n27\n\xa0South Korea\nAsia\nEastern Asia\n50,791,919\n50,982,212\n6999374652117396870♠+0.4%\n\n\n28\n\xa0Colombia\nAmericas\nSouth America\n48,653,419\n49,065,615\n6999847208702845740♠+0.8%\n\n\n29\n\xa0Kenya\nAfrica\nEastern Africa\n48,461,567\n49,699,862\n7000255521040002689♠+2.6%\n\n\n30\n\xa0Spain[d]\nEurope\nSouthern Europe\n46,347,576\n46,354,321\n5000000000000000000♠0.0%\n\n\n31\n\xa0Argentina\nAmericas\nSouth America\n43,847,430\n44,271,041\n6999966102232217490♠+1.0%\n\n\n32\n\xa0Ukraine[e]\nEurope\nEastern Europe\n44,438,625\n44,222,947\n3000514660950918270♠−0.5%\n\n\n33\n\xa0Uganda\nAfrica\nEastern Africa\n41,487,965\n42,862,958\n7000331419726178420♠+3.3%\n\n\n34\n\xa0Algeria\nAfrica\nNorthern Africa\n40,606,052\n41,318,142\n7000175365484928210♠+1.8%\n\n\n35\n\xa0Sudan\nAfrica\nNorthern Africa\n39,578,828\n40,533,330\n7000241164796491700♠+2.4%\n\n\n36\n\xa0Iraq\nAsia\nWestern Asia\n37,202,572\n38,274,618\n7000288164484971630♠+2.9%\n\n\n37\n\xa0Poland\nEurope\nEastern Europe\n38,224,410\n38,170,712\n3000859519087410380♠−0.1%\n\n\n38\n\xa0Canada\nAmericas\nNorthern America\n36,289,822\n36,624,199\n6999921407109684910♠+0.9%\n\n\n39\n\xa0Morocco\nAfrica\nNorthern Africa\n35,276,786\n35,739,580\n7000131189388965310♠+1.3%\n\n\n40\n\xa0Afghanistan\nAsia\nSouthern Asia\n34,656,032\n35,530,081\n7000252206888543959♠+2.5%\n\n\n41\n\xa0Saudi Arabia\nAsia\nWestern Asia\n32,275,687\n32,938,213\n7000205270921111609♠+2.1%\n\n\n42\n\xa0Peru\nAmericas\nSouth America\n31,773,839\n32,165,485\n7000123260522595330♠+1.2%\n\n\n43\n\xa0Venezuela\nAmericas\nSouth America\n31,568,179\n31,977,065\n7000129524734385220♠+1.3%\n\n\n44\n\xa0Uzbekistan\nAsia\nCentral Asia\n31,446,795\n31,910,641\n7000147501836037660♠+1.5%\n\n\n45\n\xa0Malaysia[f]\nAsia\nSouth-eastern Asia\n31,187,265\n31,624,264\n7000140120975661060♠+1.4%\n\n\n46\n\xa0Angola\nAfrica\nMiddle Africa\n28,813,463\n29,784,193\n7000336901538006730♠+3.4%\n\n\n47\n\xa0Mozambique\nAfrica\nEastern Africa\n28,829,476\n29,668,834\n7000291145770391390♠+2.9%\n\n\n48\n\xa0\xa0\xa0Nepal\nAsia\nSouthern Asia\n28,982,771\n29,304,998\n7000111178810335280♠+1.1%\n\n\n49\n\xa0Ghana\nAfrica\nWestern Africa\n28,206,728\n28,833,629\n7000222252293849890♠+2.2%\n\n\n50\n\xa0Yemen\nAsia\nWestern Asia\n27,584,213\n28,250,420\n7000241517494082570♠+2.4%\n\n\n51\n\xa0Madagascar\nAfrica\nEastern Africa\n24,894,551\n25,570,895\n7000271683550348029♠+2.7%\n\n\n52\n\xa0North Korea\nAsia\nEastern Asia\n25,368,620\n25,490,965\n6999482269039466860♠+0.5%\n\n\n53\n\xa0Australia[g]\nOceania\nAustralia and New Zealand\n24,125,848\n24,450,561\n7000134591331256000♠+1.3%\n\n\n54\n\xa0Ivory Coast\nAfrica\nWestern Africa\n23,695,919\n24,294,750\n7000252714824016740♠+2.5%\n\n\n55\n\xa0Cameroon\nAfrica\nMiddle Africa\n23,439,189\n24,053,727\n7000262183985973230♠+2.6%\n\n\n56\n\xa0Taiwan[h]\nAsia\nEastern Asia\n23,556,706\n23,626,456\n6999296094029445370♠+0.3%\n\n\n57\n\xa0Niger\nAfrica\nWestern Africa\n20,672,987\n21,477,348\n7000389087943604860♠+3.9%\n\n\n58\n\xa0Sri Lanka\nAsia\nSouthern Asia\n20,798,492\n20,876,917\n6999377070606849770♠+0.4%\n\n\n59\n\xa0Romania\nEurope\nEastern Europe\n19,778,083\n19,679,306\n3000500573437779580♠−0.5%\n\n\n60\n\xa0Burkina Faso\nAfrica\nWestern Africa\n18,646,433\n19,193,382\n7000293326342898930♠+2.9%\n\n\n61\n\xa0Malawi\nAfrica\nEastern Africa\n18,091,575\n18,622,104\n7000293246442059360♠+2.9%\n\n\n62\n\xa0Mali\nAfrica\nWestern Africa\n17,994,837\n18,541,980\n7000304055546599280♠+3.0%\n\n\n63\n\xa0Syria\nAsia\nWestern Asia\n18,430,453\n18,269,868\n3000128697487793700♠−0.9%\n\n\n64\n\xa0Kazakhstan\nAsia\nCentral Asia\n17,987,736\n18,204,499\n7000120505993639220♠+1.2%\n\n\n65\n\xa0Chile\nAmericas\nSouth America\n17,909,754\n18,054,726\n6999809458354369360♠+0.8%\n\n\n66\n\xa0Zambia\nAfrica\nEastern Africa\n16,591,390\n17,094,130\n7000303012586648860♠+3.0%\n\n\n67\n\xa0Netherlands\nEurope\nWestern Europe\n16,987,330\n17,035,938\n6999286142672215120♠+0.3%\n\n\n68\n\xa0Guatemala\nAmericas\nCentral America\n16,582,469\n16,913,503\n7000199628897240820♠+2.0%\n\n\n69\n\xa0Ecuador\nAmericas\nSouth America\n16,385,068\n16,624,858\n7000146346661484710♠+1.5%\n\n\n70\n\xa0Zimbabwe\nAfrica\nEastern Africa\n16,150,362\n16,529,904\n7000235005258705660♠+2.4%\n\n\n71\n\xa0Cambodia\nAsia\nSouth-eastern Asia\n15,762,370\n16,005,373\n7000154166537138770♠+1.5%\n\n\n72\n\xa0Senegal\nAfrica\nWestern Africa\n15,411,614\n15,850,567\n7000284819617205570♠+2.8%\n\n\n73\n\xa0Chad\nAfrica\nMiddle Africa\n14,452,543\n14,899,994\n7000309600185932680♠+3.1%\n\n\n74\n\xa0Somalia\nAfrica\nEastern Africa\n14,317,996\n14,742,523\n7000296498895515820♠+3.0%\n\n\n75\n\xa0Guinea\nAfrica\nWestern Africa\n12,395,924\n12,717,176\n7000259159381745159♠+2.6%\n\n\n76\n\xa0South Sudan\nAfrica\nEastern Africa\n12,230,730\n12,575,714\n7000282063294668430♠+2.8%\n\n\n77\n\xa0Rwanda\nAfrica\nEastern Africa\n11,917,508\n12,208,407\n7000244093815586280♠+2.4%\n\n\n78\n\xa0Tunisia\nAfrica\nNorthern Africa\n11,403,248\n11,532,127\n7000113019553727150♠+1.1%\n\n\n79\n\xa0Cuba\nAmericas\nCaribbean\n11,475,982\n11,484,636\n6998754096686453430♠+0.1%\n\n\n80\n\xa0Belgium\nEurope\nWestern Europe\n11,358,379\n11,429,336\n6999624710621119440♠+0.6%\n\n\n81\n\xa0Benin\nAfrica\nWestern Africa\n10,872,298\n11,175,692\n7000279052321781470♠+2.8%\n\n\n82\n\xa0Greece\nEurope\nSouthern Europe\n11,183,716\n11,159,773\n3000785911945546550♠−0.2%\n\n\n83\n\xa0Bolivia\nAmericas\nSouth America\n10,887,882\n11,051,600\n7000150367169666240♠+1.5%\n\n\n84\n\xa0Haiti\nAmericas\nCaribbean\n10,847,334\n10,981,229\n7000123435859908070♠+1.2%\n\n\n85\n\xa0Burundi\nAfrica\nEastern Africa\n10,524,117\n10,864,245\n7000323189109357110♠+3.2%\n\n\n86\n\xa0Dominican Republic\nAmericas\nCaribbean\n10,648,791\n10,766,998\n7000111005089685770♠+1.1%\n\n\n87\n\xa0Czech Republic\nEurope\nEastern Europe\n10,610,947\n10,618,303\n6998693246323820059♠+0.1%\n\n\n88\n\xa0Portugal\nEurope\nSouthern Europe\n10,371,627\n10,329,506\n3000593882425582789♠−0.4%\n\n\n89\n\xa0Sweden\nEurope\nNorthern Europe\n9,837,533\n9,910,701\n6999743763705799010♠+0.7%\n\n\n90\n\xa0Azerbaijan[i]\nAsia\nWestern Asia\n9,725,376\n9,827,589\n7000105099278423790♠+1.1%\n\n\n91\n\xa0Hungary\nEurope\nEastern Europe\n9,753,281\n9,721,559\n3000674755602755630♠−0.3%\n\n\n92\n\xa0Jordan\nAsia\nWestern Asia\n9,455,802\n9,702,353\n7000260740442746160♠+2.6%\n\n\n93\n\xa0Belarus\nEurope\nEastern Europe\n9,480,042\n9,468,338\n3000876540631360070♠−0.1%\n\n\n94\n\xa0United Arab Emirates\nAsia\nWestern Asia\n9,269,612\n9,400,145\n7000140818191743080♠+1.4%\n\n\n95\n\xa0Honduras\nAmericas\nCentral America\n9,112,867\n9,265,067\n7000167016593131450♠+1.7%\n\n\n96\n\xa0Tajikistan\nAsia\nCentral Asia\n8,734,951\n8,921,343\n7000213386428842020♠+2.1%\n\n\n97\n\xa0Serbia[j]\nEurope\nSouthern Europe\n8,820,083\n8,790,574\n3000665433987412590♠−0.3%\n\n\n98\n\xa0Austria\nEurope\nWestern Europe\n8,712,137\n8,735,453\n6999267626645448749♠+0.3%\n\n\n99\n\xa0\xa0Switzerland\nEurope\nWestern Europe\n8,401,739\n8,476,005\n6999883936051810230♠+0.9%\n\n\n100\n\xa0Israel\nAsia\nWestern Asia\n8,191,828\n8,321,570\n7000158379790200670♠+1.6%\n\n\n101\n\xa0Papua New Guinea\nOceania\nMelanesia\n8,084,991\n8,251,162\n7000205530222606310♠+2.1%\n\n\n102\n\xa0Togo\nAfrica\nWestern Africa\n7,606,374\n7,797,694\n7000251525891311680♠+2.5%\n\n\n103\n\xa0Sierra Leone\nAfrica\nWestern Africa\n7,396,190\n7,557,212\n7000217709388212040♠+2.2%\n\n\n104\n\xa0Hong Kong\nAsia\nEastern Asia\n7,302,843\n7,364,883\n6999849532161652670♠+0.8%\n\n\n105\n\xa0Bulgaria\nEurope\nEastern Europe\n7,131,494\n7,084,571\n3000342031277036759♠−0.7%\n\n\n106\n\xa0Laos\nAsia\nSouth-eastern Asia\n6,758,353\n6,858,160\n7000147679471610910♠+1.5%\n\n\n107\n\xa0Paraguay\nAmericas\nSouth America\n6,725,308\n6,811,297\n7000127858828175600♠+1.3%\n\n\n108\n\xa0El Salvador\nAmericas\nCentral America\n6,344,722\n6,377,853\n6999522182059355790♠+0.5%\n\n\n109\n\xa0Libya\nAfrica\nNorthern Africa\n6,293,253\n6,374,616\n7000129286078280980♠+1.3%\n\n\n110\n\xa0Nicaragua\nAmericas\nCentral America\n6,149,928\n6,217,581\n7000110006165925840♠+1.1%\n\n\n111\n\xa0Lebanon\nAsia\nWestern Asia\n6,006,668\n6,082,357\n7000126008296113589♠+1.3%\n\n\n112\n\xa0Kyrgyzstan\nAsia\nCentral Asia\n5,955,734\n6,045,117\n7000150078898755380♠+1.5%\n\n\n113\n\xa0Turkmenistan\nAsia\nCentral Asia\n5,662,544\n5,758,075\n7000168706856847380♠+1.7%\n\n\n114\n\xa0Denmark\nEurope\nNorthern Europe\n5,711,870\n5,733,551\n6999379577966585360♠+0.4%\n\n\n115\n\xa0Singapore\nAsia\nSouth-eastern Asia\n5,622,455\n5,708,844\n7000153649962516370♠+1.5%\n\n\n116\n\xa0Finland[k]\nEurope\nNorthern Europe\n5,503,132\n5,523,231\n6999365228382673720♠+0.4%\n\n\n117\n\xa0Slovakia\nEurope\nEastern Europe\n5,444,218\n5,447,662\n6998632597739473220♠+0.1%\n\n\n118\n\xa0Norway[l]\nEurope\nNorthern Europe\n5,254,694\n5,305,383\n6999964642279835900♠+1.0%\n\n\n119\n\xa0Congo\nAfrica\nMiddle Africa\n5,125,821\n5,260,750\n7000263233928769660♠+2.6%\n\n\n120\n\xa0Eritrea\nAfrica\nEastern Africa\n4,954,645\n5,068,831\n7000230462525569440♠+2.3%\n\n\n121\n\xa0Palestine[m]\nAsia\nWestern Asia\n4,790,705\n4,920,724\n7000271398468492630♠+2.7%\n\n\n122\n\xa0Costa Rica\nAmericas\nCentral America\n4,857,274\n4,905,769\n6999998399513801360♠+1.0%\n\n\n123\n\xa0Ireland\nEurope\nNorthern Europe\n4,726,078\n4,761,657\n6999752822953831900♠+0.8%\n\n\n124\n\xa0Liberia\nAfrica\nWestern Africa\n4,613,823\n4,731,906\n7000255933094962680♠+2.6%\n\n\n125\n\xa0New Zealand\nOceania\nAustralia and New Zealand\n4,660,833\n4,705,818\n6999965170818177770♠+1.0%\n\n\n126\n\xa0Central African Republic\nAfrica\nMiddle Africa\n4,594,621\n4,659,080\n7000140292311378890♠+1.4%\n\n\n127\n\xa0Oman\nAsia\nWestern Asia\n4,424,762\n4,636,262\n7000477991810632980♠+4.8%\n\n\n128\n\xa0Mauritania\nAfrica\nWestern Africa\n4,301,018\n4,420,184\n7000277064639115670♠+2.8%\n\n\n129\n\xa0Croatia\nEurope\nSouthern Europe\n4,213,265\n4,189,353\n3000432459149851719♠−0.6%\n\n\n130\n\xa0Kuwait\nAsia\nWestern Asia\n4,052,584\n4,136,528\n7000207136977296460♠+2.1%\n\n\n131\n\xa0Panama\nAmericas\nCentral America\n4,034,119\n4,098,587\n7000159806887203870♠+1.6%\n\n\n132\n\xa0Moldova[n]\nEurope\nEastern Europe\n4,059,608\n4,051,212\n3000793182001809040♠−0.2%\n\n\n133\n\xa0Georgia[o]\nAsia\nWestern Asia\n3,925,405\n3,912,061\n3000660060554261280♠−0.3%\n\n\n134\n\xa0Puerto Rico\nAmericas\nCaribbean\n3,667,903\n3,663,131\n3000869898413344080♠−0.1%\n\n\n135\n\xa0Bosnia and Herzegovina\nEurope\nSouthern Europe\n3,516,816\n3,507,017\n3000721367282223460♠−0.3%\n\n\n136\n\xa0Uruguay\nAmericas\nSouth America\n3,444,006\n3,456,750\n6999370034198546690♠+0.4%\n\n\n137\n\xa0Mongolia\nAsia\nEastern Asia\n3,027,398\n3,075,647\n7000159374485944700♠+1.6%\n\n\n138\n\xa0Armenia\nAsia\nWestern Asia\n2,924,816\n2,930,450\n6999192627502037750♠+0.2%\n\n\n139\n\xa0Albania\nEurope\nSouthern Europe\n2,926,348\n2,930,187\n6999131187404915620♠+0.1%\n\n\n140\n\xa0Jamaica\nAmericas\nCaribbean\n2,881,355\n2,890,299\n6999310409512191320♠+0.3%\n\n\n141\n\xa0Lithuania\nEurope\nNorthern Europe\n2,908,249\n2,890,297\n3000382721355702350♠−0.6%\n\n\n142\n\xa0Qatar\nAsia\nWestern Asia\n2,569,804\n2,639,211\n7000270086745915250♠+2.7%\n\n\n143\n\xa0Namibia\nAfrica\nSouthern Africa\n2,479,713\n2,533,794\n7000218093787466530♠+2.2%\n\n\n144\n\xa0Botswana\nAfrica\nSouthern Africa\n2,250,260\n2,291,661\n7000183983184165390♠+1.8%\n\n\n145\n\xa0Lesotho\nAfrica\nSouthern Africa\n2,203,821\n2,233,339\n7000133940097675810♠+1.3%\n\n\n146\n\xa0The Gambia\nAfrica\nWestern Africa\n2,038,501\n2,100,568\n7000304473728489710♠+3.0%\n\n\n147\n\xa0Republic of Macedonia\nEurope\nSouthern Europe\n2,081,206\n2,083,160\n6998938878707826160♠+0.1%\n\n\n148\n\xa0Slovenia\nEurope\nSouthern Europe\n2,077,862\n2,079,976\n6999101739191534380♠+0.1%\n\n\n149\n\xa0Gabon\nAfrica\nMiddle Africa\n1,979,786\n2,025,137\n7000229070212639140♠+2.3%\n\n\n150\n\xa0Latvia\nEurope\nNorthern Europe\n1,970,530\n1,949,670\n2999894140155186680♠−1.1%\n\n\n151\n\xa0Guinea-Bissau\nAfrica\nWestern Africa\n1,815,698\n1,861,283\n7000251060473713140♠+2.5%\n\n\n152\n\xa0Bahrain\nAsia\nWestern Asia\n1,425,171\n1,492,584\n7000473016922179870♠+4.7%\n\n\n153\n\xa0Trinidad and Tobago\nAmericas\nCaribbean\n1,364,962\n1,369,125\n6999304990175550680♠+0.3%\n\n\n154\n\xa0Swaziland\nAfrica\nSouthern Africa\n1,343,098\n1,367,254\n7000179852847670090♠+1.8%\n\n\n155\n\xa0Estonia\nEurope\nNorthern Europe\n1,312,442\n1,309,632\n3000785895300516140♠−0.2%\n\n\n156\n\xa0East Timor\nAsia\nSouth-eastern Asia\n1,268,671\n1,296,311\n7000217865782381720♠+2.2%\n\n\n157\n\xa0Equatorial Guinea\nAfrica\nMiddle Africa\n1,221,490\n1,267,689\n7000378218405390140♠+3.8%\n\n\n158\n\xa0Mauritius[p]\nAfrica\nEastern Africa\n1,262,132\n1,265,138\n6999238168432461890♠+0.2%\n\n\n159\n\xa0Cyprus[q]\nAsia\nWestern Asia\n1,170,125\n1,179,551\n6999805554962076700♠+0.8%\n\n\n160\n\xa0Djibouti\nAfrica\nEastern Africa\n942,333\n956,985\n7000155486436323460♠+1.6%\n\n\n161\n\xa0Fiji\nOceania\nMelanesia\n898,760\n905,502\n6999750144643731350♠+0.8%\n\n\n162\n\xa0Réunion\nAfrica\nEastern Africa\n869,925\n876,562\n6999762939333850610♠+0.8%\n\n\n163\n\xa0Comoros\nAfrica\nEastern Africa\n795,601\n813,912\n7000230153054106270♠+2.3%\n\n\n164\n\xa0Bhutan\nAsia\nSouthern Asia\n797,765\n807,610\n7000123407269057930♠+1.2%\n\n\n165\n\xa0Guyana\nAmericas\nSouth America\n773,303\n777,859\n6999589161040368390♠+0.6%\n\n\n166\n\xa0Montenegro\nEurope\nSouthern Europe\n628,615\n628,960\n6998548825592771470♠+0.1%\n\n\n167\n\xa0Macau\nAsia\nEastern Asia\n612,167\n622,567\n7000169888282119100♠+1.7%\n\n\n168\n\xa0Solomon Islands\nOceania\nMelanesia\n599,419\n611,343\n7000198925959971240♠+2.0%\n\n\n169\n\xa0Luxembourg\nEurope\nWestern Europe\n575,747\n583,455\n7000133878248605720♠+1.3%\n\n\n170\n\xa0Suriname\nAmericas\nSouth America\n558,368\n563,402\n6999901555963092450♠+0.9%\n\n\n171\n\xa0Western Sahara\nAfrica\nNorthern Africa\n538,755\n552,628\n7000257501090477120♠+2.6%\n\n\n172\n\xa0Cape Verde\nAfrica\nWestern Africa\n539,560\n546,388\n7000126547557268890♠+1.3%\n\n\n173\n\xa0Guadeloupe[r]\nAmericas\nCaribbean\n449,975\n449,568\n3001095505305850340♠−0.1%\n\n\n174\n\xa0Maldives\nAsia\nSouthern Asia\n427,756\n436,330\n7000200441373119259♠+2.0%\n\n\n175\n\xa0Malta\nEurope\nSouthern Europe\n429,362\n430,835\n6999343067155453910♠+0.3%\n\n\n176\n\xa0Brunei\nAsia\nSouth-eastern Asia\n423,196\n428,697\n7000129987050917310♠+1.3%\n\n\n177\n\xa0Bahamas\nAmericas\nCaribbean\n391,232\n395,361\n7000105538401766730♠+1.1%\n\n\n178\n\xa0Martinique\nAmericas\nCaribbean\n385,103\n384,896\n3001462481465997370♠−0.1%\n\n\n179\n\xa0Belize\nAmericas\nCentral America\n366,954\n374,681\n7000210571352267590♠+2.1%\n\n\n180\n\xa0Iceland\nEurope\nNorthern Europe\n332,474\n335,025\n6999767278042794330♠+0.8%\n\n\n181\n\xa0Barbados\nAmericas\nCaribbean\n284,996\n285,719\n6999253687771056429♠+0.3%\n\n\n182\n\xa0French Polynesia\nOceania\nPolynesia\n280,208\n283,007\n6999998900816536290♠+1.0%\n\n\n183\n\xa0French Guiana\nAmericas\nSouth America\n275,713\n282,731\n7000254540047077939♠+2.5%\n\n\n184\n\xa0New Caledonia\nOceania\nMelanesia\n272,677\n276,255\n7000131217521096390♠+1.3%\n\n\n185\n\xa0Vanuatu\nOceania\nMelanesia\n270,402\n276,244\n7000216048697864660♠+2.2%\n\n\n186\n\xa0Mayotte\nAfrica\nEastern Africa\n246,489\n253,045\n7000265975357926719♠+2.7%\n\n\n187\n\xa0Sao Tome and Principe\nAfrica\nMiddle Africa\n199,910\n204,327\n7000220949427242260♠+2.2%\n\n\n188\n\xa0Samoa\nOceania\nPolynesia\n195,125\n196,440\n6999673926969891100♠+0.7%\n\n\n189\n\xa0Saint Lucia\nAmericas\nCaribbean\n178,015\n178,844\n6999465691093447180♠+0.5%\n\n\n190\n\xa0Guernsey and \xa0Jersey\nEurope\nNorthern Europe\n164,541\n165,314\n6999469791723643340♠+0.5%\n\n\n191\n\xa0Guam\nOceania\nMicronesia\n162,896\n164,229\n6999818313525193990♠+0.8%\n\n\n192\n\xa0Curaçao\nAmericas\nCaribbean\n159,371\n160,539\n6999732881138977600♠+0.7%\n\n\n193\n\xa0Kiribati\nOceania\nMicronesia\n114,395\n116,398\n7000175095065343760♠+1.8%\n\n\n194\n\xa0Saint Vincent and the Grenadines\nAmericas\nCaribbean\n109,643\n109,897\n6999231660935946660♠+0.2%\n\n\n195\n\xa0Tonga\nOceania\nPolynesia\n107,122\n108,020\n6999838296521722890♠+0.8%\n\n\n196\n\xa0Grenada\nAmericas\nCaribbean\n107,317\n107,825\n6999473363959111790♠+0.5%\n\n\n197\n\xa0Federated States of Micronesia\nOceania\nMicronesia\n104,937\n105,544\n6999578442303477320♠+0.6%\n\n\n198\n\xa0Aruba\nAmericas\nCaribbean\n104,822\n105,264\n6999421667207265640♠+0.4%\n\n\n199\n\xa0United States Virgin Islands\nAmericas\nCaribbean\n104,913\n104,901\n5000000000000000000♠0.0%\n\n\n200\n\xa0Antigua and Barbuda\nAmericas\nCaribbean\n100,963\n102,012\n7000103899448312750♠+1.0%\n\n\n201\n\xa0Seychelles\nAfrica\nEastern Africa\n94,228\n94,737\n6999540179139958410♠+0.5%\n\n\n202\n\xa0Isle of Man\nEurope\nNorthern Europe\n83,737\n84,287\n6999656818371806980♠+0.7%\n\n\n203\n\xa0Andorra\nEurope\nSouthern Europe\n77,281\n76,965\n3000591102599604040♠−0.4%\n\n\n204\n\xa0Dominica\nAmericas\nCaribbean\n73,543\n73,925\n6999519424010442870♠+0.5%\n\n\n205\n\xa0Cayman Islands\nAmericas\nCaribbean\n60,765\n61,559\n7000130667324940339♠+1.3%\n\n\n206\n\xa0Bermuda\nAmericas\n

Looks like this is the table we want.

In [33]:
table = tables[1]

A better way to find the table of interest is to pass in extra search terms to the `find_all` method after using the developer tool to find searchable attributes.

In [34]:
tables = soup.find_all('table', style='text-align: right;')
len(tables)

1

We get one result instead of three.

In [35]:
table = tables[0]

The data resides in a html table standard cell tag `<td>` within a table row tag `<tr>`. We use `find_all` to look for all the table row tags within the table tag `<table>`.

In [36]:
table_rows = table.find_all('tr')
len(table_rows)

235

We now see that there are a lot of matches for that tag, as expected. It's close to the total number of countries. Let's look at the first few entries of `table_rows`.

In [37]:
table_rows[0]

<tr>
<th data-sort-type="number" scope="col">Rank</th>
<th scope="col">Country or area</th>
<th scope="col"><a href="/wiki/United_Nations_geoscheme" title="United Nations geoscheme">UN continental<br/>
region</a><sup class="reference" id="cite_ref-region_2-0"><a href="#cite_note-region-2">[2]</a></sup></th>
<th scope="col"><a href="/wiki/United_Nations_geoscheme" title="United Nations geoscheme">UN statistical<br/>
region</a><sup class="reference" id="cite_ref-region_2-1"><a href="#cite_note-region-2">[2]</a></sup></th>
<th scope="col">Population<br/>
(1 July 2016)<sup class="reference" id="cite_ref-UN_3-0"><a href="#cite_note-UN-3">[3]</a></sup></th>
<th scope="col">Population<br/>
(1 July 2017)<sup class="reference" id="cite_ref-UN_3-1"><a href="#cite_note-UN-3">[3]</a></sup></th>
<th scope="col">Change</th>
</tr>

Looks like the header row. The `<th>` tag also gives it away, fyi.

In [38]:
table_rows[1]

<tr>
<td>—</td>
<td align="left"><i><a href="/wiki/World_population" title="World population">World</a></i></td>
<td align="left">—</td>
<td align="left">—</td>
<td align="right" rowspan="1" style="background-color:#F9F9F9;">7,466,964,280</td>
<td align="right" rowspan="1" style="background-color:#F9F9F9;">7,550,262,101</td>
<td align="right" rowspan="1" style="background-color:#F9F9F9;"><span class="sortkey" style="display:none">7000111555135228260♠</span><span style="color:green">+1.1%</span></td>
</tr>

Its the row data for the _World_. 

We will use a nested `for` loop to go through the list of table rows. The inner `for` loop will go through each `<td>` tag appending the text to a list. We will grab all the data in the tags regardless of whether we want to keep them for now. 

We have two lists in the `for` loop. `row` will contain a list of the each tag in a table row. Once the row is iterated through, we will convert it to a `pandas` dataframe. `list_df` will contain a list of those dataframes.

In [39]:
list_df = []
for row in table_rows:
    table_cells = row.find_all('td')
    row = []
    for cell in table_cells:
        row.append(cell.text)    
    list_df.append(pd.DataFrame(row).transpose())

We take the list of dataframes and concatenate them together into one dataframe.

In [40]:
data = pd.concat(list_df, ignore_index=True)

Let's look at the first 5 rows of the dataframe.

In [41]:
data.head()

,0,1,2,3,4,5,6
0,—,World,—,—,"7,466,964,280","7,550,262,101",7000111555135228260♠+1.1%
1,1,China[a],Asia,Eastern Asia,"1,403,500,365","1,409,517,397",6999428716097982630♠+0.4%
2,2,India,Asia,Southern Asia,"1,324,171,354","1,339,180,127",7000113344643460699♠+1.1%
3,3,United States,Americas,Northern America,"322,179,605","324,459,463",6999707635730076710♠+0.7%
4,4,Indonesia,Asia,South-eastern Asia,"261,115,456","263,991,379",7000110139899186970♠+1.1%

We didn't get the header row because it was contained in `<th>` tags and not `<td>` tags. We use the same type of `for` loop to extract the text from the table headers.

In [42]:
headers = table_rows[0].find_all('th')
columns = []
for header in headers:
    columns.append(header.text)

Set the column headers of the dataframe.

In [43]:
data.columns = columns
data.head()

,Rank,Country or area,UN continental region[2],UN statistical region[2],Population (1 July 2016)[3],Population (1 July 2017)[3],Change
0,—,World,—,—,"7,466,964,280","7,550,262,101",7000111555135228260♠+1.1%
1,1,China[a],Asia,Eastern Asia,"1,403,500,365","1,409,517,397",6999428716097982630♠+0.4%
2,2,India,Asia,Southern Asia,"1,324,171,354","1,339,180,127",7000113344643460699♠+1.1%
3,3,United States,Americas,Northern America,"322,179,605","324,459,463",6999707635730076710♠+0.7%
4,4,Indonesia,Asia,South-eastern Asia,"261,115,456","263,991,379",7000110139899186970♠+1.1%

We now have all the data of interest. __Webscraping DONE!__ Now its a matter of data cleanup and management. This is where `pandas` becomes useful. We want to clean up the last three columns.

We split the last column by the delimiter and grab the latter part of the text.

In [44]:
data['Change'] = data['Change'].apply(lambda x: x.split('♠')[1])
data.head(5)

,Rank,Country or area,UN continental region[2],UN statistical region[2],Population (1 July 2016)[3],Population (1 July 2017)[3],Change
0,—,World,—,—,"7,466,964,280","7,550,262,101",+1.1%
1,1,China[a],Asia,Eastern Asia,"1,403,500,365","1,409,517,397",+0.4%
2,2,India,Asia,Southern Asia,"1,324,171,354","1,339,180,127",+1.1%
3,3,United States,Americas,Northern America,"322,179,605","324,459,463",+0.7%
4,4,Indonesia,Asia,South-eastern Asia,"261,115,456","263,991,379",+1.1%

We use a regular expression to get rid of the references and newline feeds in the headers.

In [45]:
import re
data.columns = [re.sub(r'\W\d\W$', '', x).replace('\n',' ') for x in data.columns]
data.head(5)

,Rank,Country or area,UN continental region,UN statistical region,Population (1 July 2016),Population (1 July 2017),Change
0,—,World,—,—,"7,466,964,280","7,550,262,101",+1.1%
1,1,China[a],Asia,Eastern Asia,"1,403,500,365","1,409,517,397",+0.4%
2,2,India,Asia,Southern Asia,"1,324,171,354","1,339,180,127",+1.1%
3,3,United States,Americas,Northern America,"322,179,605","324,459,463",+0.7%
4,4,Indonesia,Asia,South-eastern Asia,"261,115,456","263,991,379",+1.1%

Get rid of the thousand separators.

In [46]:
data.iloc[:,-3] = data.iloc[:,-3].apply(lambda x: x.replace(',',''))
data.iloc[:,-2] = data.iloc[:,-2].apply(lambda x: x.replace(',',''))
data.head(5)

,Rank,Country or area,UN continental region,UN statistical region,Population (1 July 2016),Population (1 July 2017),Change
0,—,World,—,—,7466964280,7550262101,+1.1%
1,1,China[a],Asia,Eastern Asia,1403500365,1409517397,+0.4%
2,2,India,Asia,Southern Asia,1324171354,1339180127,+1.1%
3,3,United States,Americas,Northern America,322179605,324459463,+0.7%
4,4,Indonesia,Asia,South-eastern Asia,261115456,263991379,+1.1%

Good enough! Let's save the data to a txt file.

In [47]:
data.to_csv('wikipedia_countries_population.txt', sep='|', index=False, header=True)

If you look at the text file, there is some more data cleanup we could have done but I'm not here to teach you how to do that with `pandas` (although we do have workshops to do just that)

## Pandas Approach to HTML Tables

The pandas `read_html` method can read in HTML Tables (and only HTML Tables). It uses `BeautifulSoup` under the hood.

In [48]:
countries = pd.read_html(url)

**Note**: If you get an `ImportError: html5lib not found, please install it` message, you will need to install it via `conda install html5lib` and you might need to restart the kernel or Juypter Notebook.

This returns a list of dataframes. One dataframe for each table in the html page. Recall how many tables there were.

In [49]:
len(countries)

4

Let's check their contents.

In [50]:
countries[2].head()

,0,1,2,3,4,5,6
0,Rank,Country or area,UN continental region[2],UN statistical region[2],Population (1 July 2016)[3],Population (1 July 2017)[3],Change
1,—,World,—,—,7466964280,7550262101,7000111555135228260♠+1.1%
2,1,China[a],Asia,Eastern Asia,1403500365,1409517397,6999428716097982630♠+0.4%
3,2,India,Asia,Southern Asia,1324171354,1339180127,7000113344643460699♠+1.1%
4,3,United States,Americas,Northern America,322179605,324459463,6999707635730076710♠+0.7%

The third table contains our data of interest (as expected).

Since `pandas` uses `BeautifulSoup` under the hood, we can specify attributes to create a better filter.

In [51]:
countries = pd.read_html(url, attrs = {'style': 'text-align: right;'})

We now only get one table as before.

In [52]:
countries[0].head()

,0,1,2,3,4,5,6
0,Rank,Country or area,UN continental region[2],UN statistical region[2],Population (1 July 2016)[3],Population (1 July 2017)[3],Change
1,—,World,—,—,7466964280,7550262101,7000111555135228260♠+1.1%
2,1,China[a],Asia,Eastern Asia,1403500365,1409517397,6999428716097982630♠+0.4%
3,2,India,Asia,Southern Asia,1324171354,1339180127,7000113344643460699♠+1.1%
4,3,United States,Americas,Northern America,322179605,324459463,6999707635730076710♠+0.7%

We are left at a similiar point that we encountered earlier in the example. `pandas` has basically done the web scraping for us and left us with the data cleanup and wrangling. You should always expect to do some data manipulation if you use the `pd.read_html()` method or any webscraping for that matter.

Q: So why did we learn a more complicated way of doing things when `pd.read_html()` can do it for you?  
A: Because not everything resides in an HTML table and you'll need to use the same techniques to get at the data. If the data resides in a HTML table, consider yourself fortunate, use `pandas` and move on.

## Exercise

Scrape Serena Williams' Wikipedia page https://en.wikipedia.org/wiki/Serena_Williams for the data in the html table **Grand Slam tournament finals**  for *Singles* in the *Career Statistics* section.

# Page Source vs. Chrome's Developer Tools Elements Tab

I want to point out a subtle difference between two things we did. Although the page source and the Elements tab look similar in this example, they are in fact not the same. A quick example to show you the difference is to sort the wikipedia table so its not in order by population. You can see that the table order in the Elements tab matches what you see on the website. However, if you look at the page source after the sort, you will notice that it has remained the same (sort has not affect on it). 

**Note:** When you make a GET request, you are asking for the page source. This is what you are parsing with `BeautifulSoup`.

# Example 2: USA TODAY Best Selling Books (not in HTML Table)

In this example, the website of interest is https://www.usatoday.com/life/books/best-selling/. Suppose we are interested in getting some basic information about the book list. For this example, the data of interest does not exist in a html table.

We start with the boilerplate template of passing the website of interest to the `requests.get` method. We then use `BeautifulSoup` to parse the contents of the response.

In [53]:
url = r'https://www.usatoday.com/life/books/best-selling/'
R = requests.get(url)
R.raise_for_status()
soup = BeautifulSoup(R.content, 'html.parser')

Navigate to the website and use the browser's developer tool to inspect items of interest.

The data seems to be residing in a `div` tag. Let's search for that and the class info and see how many matches we get

In [54]:
booklist = soup.find_all('div', class_="front-booklist-info-container")
len(booklist)

10

Let's look at the text associated within each `<div>` book tag.

In [55]:
for i, book in enumerate(booklist):
    print(i, book.text)

0 1The Great AlonebyKristin HannahIn 1970s Alaska, a teenage girl — the daughter of a disturbed Vietnam War POW — has to grow up in a hurryGenre:General fictionDebuted:February 15 2018
                            Buy Now

                                    Buy Now
                                AmazonBarnes & NobleGoogle PlayiBooksIndieboundKoboZola1Weeks Listed#1Best Week
1 212 Rules for Life: An Antidote to ChaosbyJordan B. PetersonPsychologist proposes 12 practical rules to live by based on science, faith and human natureGenre:Psychology/Self-helpDebuted:February 01 2018
                            Buy Now

                                    Buy Now
                                AmazonBarnes & NobleGoogle PlayiBooksIndieboundKoboZola#4Last Week3Weeks Listed#2Best Week
2 3A Wrinkle in TimebyMadeleine L’EngleYouth: Otherworldly visitor informs family of a “tesseract,” a wrinkle in time; classicGenre:YouthDebuted:May 20 2004
                            Buy Now

                                    Buy Now
                                AmazonBarnes & NobleGoogle PlayiBooksIndieboundKoboZolaRead an excerptpowered by Zola#7Last Week38Weeks Listed#3Best Week
3 4Look for MebyLisa GardnerWhen an entire family is murdered, except the missing 16-year-old daughter, detective D.D. Warren investigates
Genre:General fictionDebuted:February 15 2018
                            Buy Now

                                    Buy Now
                                AmazonBarnes & NobleGoogle PlayiBooksIndieboundKoboZola1Weeks Listed#4Best Week
4 5An American MarriagebyTayari JonesNewlyweds Roy and Celestia see their lives ripped apart when Roy is convicted of a crime his wife knows he did not commit; Oprah’s Book Club
Genre:General fictionDebuted:February 15 2018
                            Buy Now

                                    Buy Now
                                AmazonBarnes & NobleGoogle PlayiBooksIndieboundKoboZola1Weeks Listed#5Best Week
5 6Fire and FurybyMichael WolffSubtitle: "Inside the Trump White House"Genre:Current affairsDebuted:January 11 2018
                            Buy Now

                                    Buy Now
                                AmazonBarnes & NobleGoogle PlayiBooksIndieboundKoboZola#2Last Week6Weeks Listed#1Best Week
6 7The Woman in the WindowbyA.J. FinnA 38-year-old woman in New York City, a shut-in who self-medicates, believes she sees a crime committed in the townhouse across the parkGenre:General fictionDebuted:January 11 2018
                            Buy Now

                                    Buy Now
                                AmazonBarnes & NobleGoogle PlayiBooksIndieboundKoboZola#6Last Week6Weeks Listed#2Best Week
7 8Llama Llama I Love You Board BookbyAnna DewdneyChildren: Little llama shows his friends and family how much he loves themGenre:ChildrenDebuted:January 29 2015
                            Buy Now

                                    Buy Now
                                AmazonBarnes & NobleGoogle PlayiBooksIndieboundKoboZola#19Last Week16Weeks Listed#8Best Week
8 9Still MebyJojo MoyesLouisa Clark has found solace with “Ambulance Sam” in England, but can her new relationship survive a job opportunity in New York?
Genre:General fictionDebuted:February 08 2018
                            Buy Now

                                    Buy Now
                                AmazonBarnes & NobleGoogle PlayiBooksIndieboundKoboZola#3Last Week2Weeks Listed#3Best Week
9 10Dark in DeathbyJ.D. RobbAfter a woman is stabbed during a screening of "Psycho" in New York City, a novelist tells Lt. Eve Dallas that she recognizes the crime from the pages of her own bookGenre:MysteryDebuted:February 08 2018
                            Buy Now

                                    Buy Now
                                AmazonBarnes & NobleGoogle PlayiBooksIndieboundKoboZola#1Last Week2Weeks Listed#1Best Week

Suppose we want the title, author and genre. Let's use the browser to inspect which tags the data lies in. Then we'll use the `find_all` method to search for it.

In [56]:
for rank, book in enumerate(booklist, start=1):
    title = book.find_all('h3', class_='books-front-meta-title')[0].text
    author = book.find_all('span', class_='books-front-meta-authorInfo')[0].text
    genre = book.find_all('div', class_='books-front-meta-genre')[0].text
    print('{}. {}, {}, {}'.format(rank, title, author, genre))

1. The Great Alone, Kristin Hannah, Genre:General fiction
2. 12 Rules for Life: An Antidote to Chaos, Jordan B. Peterson, Genre:Psychology/Self-help
3. A Wrinkle in Time, Madeleine L’Engle, Genre:Youth
4. Look for Me, Lisa Gardner, Genre:General fiction
5. An American Marriage, Tayari Jones, Genre:General fiction
6. Fire and Fury, Michael Wolff, Genre:Current affairs
7. The Woman in the Window, A.J. Finn, Genre:General fiction
8. Llama Llama I Love You Board Book, Anna Dewdney, Genre:Children
9. Still Me, Jojo Moyes, Genre:General fiction
10. Dark in Death, J.D. Robb, Genre:Mystery

Webscraping DONE! At least for page one. To scrape the rest of the pages, let's navigate to the other pages. Notice anything different in the url?

Before: https://www.usatoday.com/life/books/best-selling/  
After: https://www.usatoday.com/life/books/best-selling/week/2018/6/page/2/

The **before url** is the webpage for the current bestseller list, page 1. The **after url** is for a specific week and page. We can use this format to scrape any page for any given week. Much more useful than the generic url.

In [58]:
rank = 0
data = []
for page in range(1,4):    
    url = r'http://www.usatoday.com/life/books/best-selling/week/2018/7/page/{}/'.format(page)    
    R = requests.get(url)
    R.raise_for_status()
    soup = BeautifulSoup(R.content, 'html.parser')
    # find the element of interest matching our criteria
    booklist = soup.find_all('div', class_='front-booklist-info-container')
    for book in booklist:
        title = book.find_all('h3', class_='books-front-meta-title')[0].text
        author = book.find_all('span', class_='books-front-meta-authorInfo')[0].text
        genre = book.find_all('div', class_='books-front-meta-genre')[0].text
        rank += 1
        print('{}. {}, {}, {}'.format(rank, title, author, genre))
        data.append((rank,title,author,genre))

1. The Great Alone, Kristin Hannah, Genre:General fiction
2. 12 Rules for Life: An Antidote to Chaos, Jordan B. Peterson, Genre:Psychology/Self-help
3. A Wrinkle in Time, Madeleine L’Engle, Genre:Youth
4. Look for Me, Lisa Gardner, Genre:General fiction
5. An American Marriage, Tayari Jones, Genre:General fiction
6. Fire and Fury, Michael Wolff, Genre:Current affairs
7. The Woman in the Window, A.J. Finn, Genre:General fiction
8. Llama Llama I Love You Board Book, Anna Dewdney, Genre:Children
9. Still Me, Jojo Moyes, Genre:General fiction
10. Dark in Death, J.D. Robb, Genre:Mystery
11. Dog Man and Cat Kid, Dav Pilkey, Genre:Youth
12. Darker, E.L. James, Genre:Romance
13. Little Fires Everywhere, Celeste Ng, Genre:General fiction
14. Wonder, R.J. Palacio, Genre:Youth
15. Before We Were Yours, Lisa Wingate, Genre:General fiction
16. The Masterpiece, Francine Rivers, Genre:General fiction
17. The Alchemist, Paulo Coelho, Genre:General fiction
18. The Wife Between Us, Greer Hendricks, Sarah Pekkanen, Genre:General fiction
19. Ready Player One, Ernest Cline, Genre:General fiction
20. The Subtle Art of Not Giving a (Expletive), Mark Manson, Genre:Psychology/Self-help
21. Code to Zero, Ken Follett, Genre:General fiction
22. Obama: An Intimate Portrait, Pete Souza, Genre:Photography
23. Origin, Dan Brown, Genre:General fiction
24. Diary of a Wimpy Kid: The Getaway, Jeff Kinney, Genre:Youth
25. Love from The Very Hungry Caterpillar, Eric Carle, Genre:Children
26. Pete the Cat: Valentine's Day Is Cool, James Dean, Kimberly Dean, Genre:Children
27. Live Fearless, Sadie Robertson, Genre:Psychology/Self-help
28. Milk and Honey, Rupi Kaur, Genre:----
29. The Deceivers, Alex Berenson, Genre:Mystery
30. The 5 Love Languages, Gary Chapman, Genre:Psychology/Self-help

Let's convert the data into a `pandas` dataframe with column headers

In [59]:
topsellers = pd.DataFrame(data, columns=['rank','title','author','genre'])
topsellers

,rank,title,author,genre
0,1,The Great Alone,Kristin Hannah,Genre:General fiction
1,2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,Genre:Psychology/Self-help
2,3,A Wrinkle in Time,Madeleine L’Engle,Genre:Youth
3,4,Look for Me,Lisa Gardner,Genre:General fiction
4,5,An American Marriage,Tayari Jones,Genre:General fiction
...,...,...,...,...
25,26,Pete the Cat: Valentine's Day Is Cool,"James Dean, Kimberly Dean",Genre:Children
26,27,Live Fearless,Sadie Robertson,Genre:Psychology/Self-help
27,28,Milk and Honey,Rupi Kaur,Genre:----
28,29,The Deceivers,Alex Berenson,Genre:Mystery
29,30,The 5 Love Languages,Gary Chapman,Genre:Psychology/Self-help

## Exercise

See if you can scrape the entire list and add columns such as when it debuted and how long its been on the charts.

# Example 3: Geocoding (using an API)

This example is how to use an API to gather data of interest. Sometimes, you will need to get an api key or access token to access the website. The website should have a developers or API section to let you know how to query the API with the appropriate parameters. This section will also detail the terms of usage and any usage limits on using the API. APIs usually follow a freemium business model. 

We'll show you how to Geocode addresses next using the Google Maps Geocoding API. Let's look at the documentation quickly.    
https://developers.google.com/maps/documentation/geocoding/intro

The documentation tells us the format looks something like this

`https://maps.googleapis.com/maps/api/geocode/outputFormat?parameters`

In summary, the documentation tells us about:
1. Needing an API key.
2. Format of the request needed
2. Choosing an output format
3. Required parameters
4. Optional parameters

## Query String Parameters

A url that contains a query string will contain three parts:
1. Resource (base) URL
2. Question Mark (?)
3. Parameters (key=value pairs) separated by an ampersand (&)

Let's look at the Google geocoding example with our own API key.

In [60]:
import os
apikey = os.getenv('GOOGLE_MAP_API_KEY')
url = r'https://maps.googleapis.com/maps/api/geocode/json?address=1600+Amphitheatre+Parkway,+Mountain+View,+CA&key={}'.format(apikey)
url

'https://maps.googleapis.com/maps/api/geocode/json?address=1600+Amphitheatre+Parkway,+Mountain+View,+CA&key=AIzaSyA2UmVkSfbv8ab1YRMEfcwBGAR3MKdvgQU'

Let's break down the different pieces for this example.
1. The resource url is `https://maps.googleapis.com/maps/api/geocode/json`
2. The output format chosen was json
3. `?`
4. First required parameter is `address=1600+Amphitheatre+Parkway,+Mountain+View,+CA`
5. `&`
6. Second required parameter is `key=<YOUR API KEY>`
7. No optional key/value pair

Note that some characters can not be part of the URL like spaces in the above example. Spaces are encoded as `+` or `%20`.

We now can make a `GET` request. Same as before.

In [61]:
R = requests.get(url)
response = R.json()
response

{'results': [{'address_components': [{'long_name': 'Google Building 41',
     'short_name': 'Google Building 41',
     'types': ['premise']},
    {'long_name': '1600', 'short_name': '1600', 'types': ['street_number']},
    {'long_name': 'Amphitheatre Parkway',
     'short_name': 'Amphitheatre Pkwy',
     'types': ['route']},
    {'long_name': 'Mountain View',
     'short_name': 'Mountain View',
     'types': ['locality', 'political']},
    {'long_name': 'Santa Clara County',
     'short_name': 'Santa Clara County',
     'types': ['administrative_area_level_2', 'political']},
    {'long_name': 'California',
     'short_name': 'CA',
     'types': ['administrative_area_level_1', 'political']},
    {'long_name': 'United States',
     'short_name': 'US',
     'types': ['country', 'political']},
    {'long_name': '94043', 'short_name': '94043', 'types': ['postal_code']}],
   'formatted_address': 'Google Building 41, 1600 Amphitheatre Pkwy, Mountain View, CA 94043, USA',
   'geometry': {'bounds': {'northeast': {'lat': 37.4228775,
      'lng': -122.085133},
     'southwest': {'lat': 37.4221145, 'lng': -122.0860002}},
    'location': {'lat': 37.4224082, 'lng': -122.0856086},
    'location_type': 'ROOFTOP',
    'viewport': {'northeast': {'lat': 37.4238449802915,
      'lng': -122.0842176197085},
     'southwest': {'lat': 37.4211470197085, 'lng': -122.0869155802915}}},
   'place_id': 'ChIJxQvW8wK6j4AR3ukttGy3w2s',
   'types': ['premise']}],
 'status': 'OK'}

Webscraping done! API conquered!

Manually encoding strings for URLs can be a pain. Thankfully, the `requests` library takes care of all this for us if we pass a dictionary to the `params` keyword argument.

First we need to construct the dictionary for the parameters and the specify the resource url.

In [62]:
params = {'address': '915 E Washington, Ann Arbor',
          'key':apikey
         }
baseurl = 'https://maps.googleapis.com/maps/api/geocode/json'

Make a `GET` request with the params keyword argument

In [63]:
R = requests.get(baseurl, params=params)
R.raise_for_status()
response = R.json()
response

{'results': [{'address_components': [{'long_name': '915',
     'short_name': '915',
     'types': ['street_number']},
    {'long_name': 'East Washington Street',
     'short_name': 'E Washington St',
     'types': ['route']},
    {'long_name': 'Burns Park',
     'short_name': 'Burns Park',
     'types': ['neighborhood', 'political']},
    {'long_name': 'Ann Arbor',
     'short_name': 'Ann Arbor',
     'types': ['locality', 'political']},
    {'long_name': 'Washtenaw County',
     'short_name': 'Washtenaw County',
     'types': ['administrative_area_level_2', 'political']},
    {'long_name': 'Michigan',
     'short_name': 'MI',
     'types': ['administrative_area_level_1', 'political']},
    {'long_name': 'United States',
     'short_name': 'US',
     'types': ['country', 'political']},
    {'long_name': '48109', 'short_name': '48109', 'types': ['postal_code']},
    {'long_name': '1070',
     'short_name': '1070',
     'types': ['postal_code_suffix']}],
   'formatted_address': '915 E Washington St, Ann Arbor, MI 48109, USA',
   'geometry': {'location': {'lat': 42.2807892, 'lng': -83.7381556},
    'location_type': 'ROOFTOP',
    'viewport': {'northeast': {'lat': 42.2821381802915,
      'lng': -83.7368066197085},
     'southwest': {'lat': 42.2794402197085, 'lng': -83.73950458029151}}},
   'place_id': 'ChIJG0N-sUGuPIgRhWJ5XDKXPt4',
   'types': ['street_address']}],
 'status': 'OK'}

Same result. And we can also spy the actual url that was sent.

In [64]:
R.url

'https://maps.googleapis.com/maps/api/geocode/json?address=915+E+Washington%2C+Ann+Arbor&key=AIzaSyA2UmVkSfbv8ab1YRMEfcwBGAR3MKdvgQU'

That's it! Pretty simple, eh! A lot of APIs work just like this. Some, of course, are a bit more complicated. Most APIs are a bit more complicated (CSCAR also has a workshop on using APIs for social media).

**Note:** CSCAR also has workshops on using social media APIs

# Traversing a JSON object

Now, that we have a JSON response from the API, we need to know how to parse it for the information we are looking for. A JSON object behaves like a Python dictionary in that it consists of key-value pairs. JSON objects consist of dictionaries and lists.

To look at the variables in a JSON object hierarchically, use the `keys` method.

In [65]:
response.keys()

dict_keys(['status', 'results'])

Access the key like you would a Python dictionary

In [66]:
response['results']

[{'address_components': [{'long_name': '915',
    'short_name': '915',
    'types': ['street_number']},
   {'long_name': 'East Washington Street',
    'short_name': 'E Washington St',
    'types': ['route']},
   {'long_name': 'Burns Park',
    'short_name': 'Burns Park',
    'types': ['neighborhood', 'political']},
   {'long_name': 'Ann Arbor',
    'short_name': 'Ann Arbor',
    'types': ['locality', 'political']},
   {'long_name': 'Washtenaw County',
    'short_name': 'Washtenaw County',
    'types': ['administrative_area_level_2', 'political']},
   {'long_name': 'Michigan',
    'short_name': 'MI',
    'types': ['administrative_area_level_1', 'political']},
   {'long_name': 'United States',
    'short_name': 'US',
    'types': ['country', 'political']},
   {'long_name': '48109', 'short_name': '48109', 'types': ['postal_code']},
   {'long_name': '1070',
    'short_name': '1070',
    'types': ['postal_code_suffix']}],
  'formatted_address': '915 E Washington St, Ann Arbor, MI 48109, USA',
  'geometry': {'location': {'lat': 42.2807892, 'lng': -83.7381556},
   'location_type': 'ROOFTOP',
   'viewport': {'northeast': {'lat': 42.2821381802915,
     'lng': -83.7368066197085},
    'southwest': {'lat': 42.2794402197085, 'lng': -83.73950458029151}}},
  'place_id': 'ChIJG0N-sUGuPIgRhWJ5XDKXPt4',
  'types': ['street_address']}]

Occasionally, you will encounter a `list` of key-value pairs in the hierarchy.

You would access the `list` the same way as a Python list.

In [67]:
response['results'][0]

{'address_components': [{'long_name': '915',
   'short_name': '915',
   'types': ['street_number']},
  {'long_name': 'East Washington Street',
   'short_name': 'E Washington St',
   'types': ['route']},
  {'long_name': 'Burns Park',
   'short_name': 'Burns Park',
   'types': ['neighborhood', 'political']},
  {'long_name': 'Ann Arbor',
   'short_name': 'Ann Arbor',
   'types': ['locality', 'political']},
  {'long_name': 'Washtenaw County',
   'short_name': 'Washtenaw County',
   'types': ['administrative_area_level_2', 'political']},
  {'long_name': 'Michigan',
   'short_name': 'MI',
   'types': ['administrative_area_level_1', 'political']},
  {'long_name': 'United States',
   'short_name': 'US',
   'types': ['country', 'political']},
  {'long_name': '48109', 'short_name': '48109', 'types': ['postal_code']},
  {'long_name': '1070',
   'short_name': '1070',
   'types': ['postal_code_suffix']}],
 'formatted_address': '915 E Washington St, Ann Arbor, MI 48109, USA',
 'geometry': {'location': {'lat': 42.2807892, 'lng': -83.7381556},
  'location_type': 'ROOFTOP',
  'viewport': {'northeast': {'lat': 42.2821381802915,
    'lng': -83.7368066197085},
   'southwest': {'lat': 42.2794402197085, 'lng': -83.73950458029151}}},
 'place_id': 'ChIJG0N-sUGuPIgRhWJ5XDKXPt4',
 'types': ['street_address']}

Note, there is only one element in this list.

If you want to drill deeper into the `results` key, you would repeat the process to look at available keys and so forth.

In [68]:
response['results'][0].keys()

dict_keys(['formatted_address', 'address_components', 'types', 'place_id', 'geometry'])

To arrive at the latitude coordinate, you would need the following syntax:

In [69]:
response['results'][0]['geometry']['location']['lat']

42.2807892

**Note**: If you have a keen eye, you can just eyeball the hierarchy without needing to use the `keys` method.

# Example 4: Weather Data (using an API)

Here is an example of an API that doesn't follow the query string parameter format.

We will be using <a href='https://darksky.net/app/'>https://darksky.net/app/</a> to gather weather data.  The developer section is at https://darksky.net/dev/. The API documentation is at https://darksky.net/dev/docs. You will need to create an account to get an API key (or you can borrow mine).

**Note**: Dark Sky is a relatively simple API (part of the reason why I'm using it as an example).

## Weather Forecast

APIs usually have different endpoints depending on the data you are interested in. The documentation page shows that you can make two types of API requests. 
1. The current weather forecast for the next week (forecast request)
2. An observed or forecast weather conditions for a date in the past or future (time machine request)

**Note**: BTW, two is a relatively small number. The twitter API has over 100.

Let's look at endpoint #2.

The documentation shows that a forecast request takes the form of:

https://api.darksky.net/forecast/[key]/[latitude],[longitude],[time]

A historical weather request returns the observed weather at a given time (for many places, up to 60 years in the past).

Start by specifying the API key and then the GPS coordinates and timestamp.

In [70]:
apikey = os.getenv('FORECASTIO_API_KEY')

In [71]:
latitude = 42.28
longitude = -83.74
time = '2017-01-31T16:00:00'

In [72]:
url = r'https://api.darksky.net/forecast/{}/{},{},{}'.format(apikey,latitude,longitude,time)
R = requests.get(url)
R.raise_for_status()

API responses consist of a JSON-formatted object (UTF-8) according to the documentation.

In [73]:
pastforecast = R.json()
pastforecast

{'currently': {'apparentTemperature': 23.94,
  'cloudCover': 1,
  'dewPoint': 27.86,
  'humidity': 0.79,
  'icon': 'cloudy',
  'precipIntensity': 0.003,
  'precipProbability': 0.15,
  'precipType': 'snow',
  'pressure': 1004.81,
  'summary': 'Overcast',
  'temperature': 33.61,
  'time': 1485896400,
  'visibility': 5.81,
  'windBearing': 261,
  'windSpeed': 14.2},
 'daily': {'data': [{'apparentTemperatureHigh': 29.11,
    'apparentTemperatureHighTime': 1485874800,
    'apparentTemperatureLow': 20.56,
    'apparentTemperatureLowTime': 1485954000,
    'apparentTemperatureMax': 29.11,
    'apparentTemperatureMaxTime': 1485874800,
    'apparentTemperatureMin': 14.57,
    'apparentTemperatureMinTime': 1485838800,
    'dewPoint': 26.02,
    'humidity': 0.86,
    'icon': 'snow',
    'moonPhase': 0.12,
    'precipAccumulation': 0.653,
    'precipIntensity': 0.0027,
    'precipIntensityMax': 0.0189,
    'precipIntensityMaxTime': 1485853200,
    'precipProbability': 0.74,
    'precipType': 'snow',
    'pressure': 1004.08,
    'summary': 'Snow (< 1 in.) in the morning and breezy in the evening.',
    'sunriseTime': 1485867009,
    'sunsetTime': 1485902956,
    'temperatureHigh': 34.04,
    'temperatureHighTime': 1485892800,
    'temperatureLow': 27.02,
    'temperatureLowTime': 1485954000,
    'temperatureMax': 34.04,
    'temperatureMaxTime': 1485892800,
    'temperatureMin': 24.34,
    'temperatureMinTime': 1485838800,
    'time': 1485838800,
    'visibility': 5.19,
    'windBearing': 254,
    'windSpeed': 5.26}]},
 'flags': {'isd-stations': ['715380-99999',
   '720113-54829',
   '720275-04872',
   '725370-94847',
   '725373-54819',
   '725374-94889',
   '725375-14822',
   '725376-14853',
   '725378-04887',
   '725395-14833',
   '725404-04847',
   '725417-54822',
   '725418-54823',
   '726375-94817',
   '997295-99999',
   '997344-99999'],
  'sources': ['isd'],
  'units': 'us'},
 'hourly': {'data': [{'apparentTemperature': 14.57,
    'dewPoint': 21.63,
    'humidity': 0.89,
    'icon': 'clear-night',
    'precipAccumulation': 0.01,
    'precipIntensity': 0.0008,
    'precipProbability': 0.08,
    'precipType': 'snow',
    'pressure': 1006.32,
    'summary': 'Clear',
    'temperature': 24.34,
    'time': 1485838800,
    'visibility': 4.46,
    'windBearing': 132,
    'windSpeed': 9.45},
   {'apparentTemperature': 15.05,
    'dewPoint': 22.44,
    'humidity': 0.9,
    'icon': 'fog',
    'precipAccumulation': 0.015,
    'precipIntensity': 0.0012,
    'precipProbability': 0.12,
    'precipType': 'snow',
    'pressure': 1004.59,
    'summary': 'Foggy',
    'temperature': 25.03,
    'time': 1485842400,
    'visibility': 1.41,
    'windBearing': 134,
    'windSpeed': 10.07},
   {'apparentTemperature': 15.79,
    'dewPoint': 23.09,
    'humidity': 0.91,
    'icon': 'fog',
    'precipIntensity': 0,
    'precipProbability': 0,
    'pressure': 1003,
    'summary': 'Foggy',
    'temperature': 25.26,
    'time': 1485846000,
    'visibility': 1.66,
    'windBearing': 127,
    'windSpeed': 9.29},
   {'apparentTemperature': 16.97,
    'dewPoint': 24.2,
    'humidity': 0.93,
    'icon': 'snow',
    'precipAccumulation': 0.087,
    'precipIntensity': 0.0076,
    'precipProbability': 0.6,
    'precipType': 'snow',
    'pressure': 1001.41,
    'summary': 'Light Snow',
    'temperature': 25.89,
    'time': 1485849600,
    'visibility': 1.4,
    'windBearing': 115,
    'windSpeed': 8.65},
   {'apparentTemperature': 19.45,
    'dewPoint': 24.95,
    'humidity': 0.94,
    'icon': 'snow',
    'precipAccumulation': 0.209,
    'precipIntensity': 0.0189,
    'precipProbability': 0.74,
    'precipType': 'snow',
    'pressure': 1000.19,
    'summary': 'Snow',
    'temperature': 26.56,
    'time': 1485853200,
    'visibility': 1.28,
    'windBearing': 107,
    'windSpeed': 6.35},
   {'apparentTemperature': 20.86,
    'dewPoint': 25.32,
    'humidity': 0.94,
    'icon': 'snow',
    'precipAccumulation': 0.095,
    'precipIntensity': 0.0087,
    'precipProbability': 0.71,
    'precipType': 'snow',
    'pressure': 999.54,
    'summary': 'Light Snow',
    'temperature': 26.8,
    'time': 1485856800,
    'visibility': 1.48,
    'windBearing': 89,
    'windSpeed': 5.1},
   {'apparentTemperature': 22.89,
    'dewPoint': 25.98,
    'humidity': 0.95,
    'icon': 'snow',
    'precipAccumulation': 0.071,
    'precipIntensity': 0.0067,
    'precipProbability': 0.39,
    'precipType': 'snow',
    'pressure': 999.29,
    'summary': 'Light Snow',
    'temperature': 27.34,
    'time': 1485860400,
    'visibility': 2.39,
    'windBearing': 54,
    'windSpeed': 3.83},
   {'apparentTemperature': 23.85,
    'cloudCover': 1,
    'dewPoint': 25.53,
    'humidity': 0.92,
    'icon': 'cloudy',
    'precipAccumulation': 0.005,
    'precipIntensity': 0.0004,
    'precipProbability': 0.04,
    'precipType': 'snow',
    'pressure': 999.49,
    'summary': 'Overcast',
    'temperature': 27.42,
    'time': 1485864000,
    'visibility': 4.1,
    'windBearing': 48,
    'windSpeed': 3.2},
   {'apparentTemperature': 27.49,
    'dewPoint': 26.07,
    'humidity': 0.94,
    'icon': 'clear-day',
    'precipAccumulation': 0.01,
    'precipIntensity': 0.0009,
    'precipProbability': 0.09,
    'precipType': 'snow',
    'pressure': 1000.45,
    'summary': 'Clear',
    'temperature': 27.49,
    'time': 1485867600,
    'visibility': 3.84,
    'windBearing': 14,
    'windSpeed': 1.01},
   {'apparentTemperature': 28.38,
    'dewPoint': 26.3,
    'humidity': 0.92,
    'icon': 'clear-day',
    'precipAccumulation': 0.004,
    'precipIntensity': 0.0004,
    'precipProbability': 0.04,
    'precipType': 'snow',
    'pressure': 1001.19,
    'summary': 'Clear',
    'temperature': 28.38,
    'time': 1485871200,
    'visibility': 4.08,
    'windBearing': 320,
    'windSpeed': 2.46},
   {'apparentTemperature': 29.11,
    'cloudCover': 1,
    'dewPoint': 26.88,
    'humidity': 0.91,
    'icon': 'cloudy',
    'precipIntensity': 0,
    'precipProbability': 0,
    'pressure': 1002.02,
    'summary': 'Overcast',
    'temperature': 29.11,
    'time': 1485874800,
    'visibility': 4.5,
    'windBearing': 289,
    'windSpeed': 2.8},
   {'apparentTemperature': 25.77,
    'dewPoint': 27.65,
    'humidity': 0.89,
    'icon': 'clear-day',
    'precipAccumulation': 0.039,
    'precipIntensity': 0.0046,
    'precipProbability': 0.46,
    'precipType': 'snow',
    'pressure': 1002.75,
    'summary': 'Clear',
    'temperature': 30.5,
    'time': 1485878400,
    'visibility': 3.97,
    'windBearing': 260,
    'windSpeed': 4.53},
   {'apparentTemperature': 25.84,
    'dewPoint': 28.39,
    'humidity': 0.88,
    'icon': 'clear-day',
    'precipAccumulation': 0.044,
    'precipIntensity': 0.0056,
    'precipProbability': 0.56,
    'precipType': 'snow',
    'pressure': 1003.37,
    'summary': 'Clear',
    'temperature': 31.61,
    'time': 1485882000,
    'visibility': 4.76,
    'windBearing': 256,
    'windSpeed': 5.9},
   {'apparentTemperature': 25.78,
    'cloudCover': 1,
    'dewPoint': 28.83,
    'humidity': 0.84,
    'icon': 'cloudy',
    'precipAccumulation': 0.011,
    'precipIntensity': 0.0015,
    'precipProbability': 0.15,
    'precipType': 'snow',
    'pressure': 1003.46,
    'summary': 'Overcast',
    'temperature': 33.03,
    'time': 1485885600,
    'visibility': 6.34,
    'windBearing': 268,
    'windSpeed': 8.54},
   {'apparentTemperature': 26.35,
    'dewPoint': 29.16,
    'humidity': 0.83,
    'icon': 'clear-day',
    'precipAccumulation': 0.023,
    'precipIntensity': 0.003,
    'precipProbability': 0.15,
    'precipType': 'snow',
    'pressure': 1003.53,
    'summary': 'Clear',
    'temperature': 33.76,
    'time': 1485889200,
    'visibility': 7.47,
    'windBearing': 265,
    'windSpeed': 9.15},
   {'apparentTemperature': 25.42,
    'dewPoint': 28.61,
    'humidity': 0.8,
    'icon': 'clear-day',
    'precipIntensity': 0.0015,
    'precipProbability': 0.15,
    'precipType': 'rain',
    'pressure': 1003.98,
    'summary': 'Clear',
    'temperature': 34.04,
    'time': 1485892800,
    'visibility': 8.1,
    'windBearing': 255,
    'windSpeed': 11.85},
   {'apparentTemperature': 23.94,
    'cloudCover': 1,
    'dewPoint': 27.86,
    'humidity': 0.79,
    'icon': 'cloudy',
    'precipAccumulation': 0.023,
    'precipIntensity': 0.003,
    'precipProbability': 0.15,
    'precipType': 'snow',
    'pressure': 1004.81,
    'summary': 'Overcast',
    'temperature': 33.61,
    'time': 1485896400,
    'visibility': 5.81,
    'windBearing': 261,
    'windSpeed': 14.2},
   {'apparentTemperature': 22.42,
    'dewPoint': 28.71,
    'humidity': 0.85,
    'icon': 'clear-day',
    'precipAccumulation': 0.007,
    'precipIntensity': 0.001,
    'precipProbability': 0.1,
    'precipType': 'snow',
    'pressure': 1005.72,
    'summary': 'Clear',
    'temperature': 32.59,
    'time': 1485900000,
    'visibility': 3.26,
    'windBearing': 260,
    'windSpeed': 14.78},
   {'apparentTemperature': 21.83,
    'dewPoint': 27.7,
    'humidity': 0.82,
    'icon': 'clear-night',
    'precipIntensity': 0,
    'precipProbability': 0,
    'pressure': 1006.79,
    'summary': 'Clear',
    'temperature': 32.44,
    'time': 1485903600,
    'visibility': 5.53,
    'windBearing': 264,
    'windSpeed': 15.93},
   {'apparentTemperature': 21.38,
    'cloudCover': 1,
    'dewPoint': 26.21,
    'humidity': 0.78,
    'icon': 'cloudy',
    'precipIntensity': 0,
    'precipProbability': 0,
    'pressure': 1007.93,
    'summary': 'Overcast',
    'temperature': 32.25,
    'time': 1485907200,
    'visibility': 9.33,
    'windBearing': 271,
    'windSpeed': 16.55},
   {'apparentTemperature': 20.71,
    'dewPoint': 25.21,
    'humidity': 0.75,
    'icon': 'wind',
    'precipIntensity': 0,
    'precipProbability': 0,
    'pressure': 1008.69,
    'summary': 'Breezy',
    'temperature': 32.29,
    'time': 1485910800,
    'visibility': 9.65,
    'windBearing': 265,
    'windSpeed': 18.82},
   {'apparentTemperature': 21.1,
    'dewPoint': 24.55,
    'humidity': 0.72,
    'icon': 'wind',
    'precipIntensity': 0,
    'precipProbability': 0,
    'pressure': 1009.2,
    'summary': 'Breezy',
    'temperature': 32.48,
    'time': 1485914400,
    'visibility': 9.82,
    'windBearing': 269,
    'windSpeed': 18.36},
   {'apparentTemperature': 21.54,
    'cloudCover': 0.41,
    'dewPoint': 24.42,
    'humidity': 0.74,
    'icon': 'partly-cloudy-night',
    'precipIntensity': 0,
    'precipProbability': 0,
    'pressure': 1009.71,
    'summary': 'Partly Cloudy',
    'temperature': 31.88,
    'time': 1485918000,
    'visibility': 10,
    'windBearing': 263,
    'windSpeed': 14.72},
   {'apparentTemperature': 22.62,
    'cloudCover': 0.31,
    'dewPoint': 24.69,
    'humidity': 0.74,
    'icon': 'partly-cloudy-night',
    'precipIntensity': 0,
    'precipProbability': 0,
    'pressure': 1010.39,
    'summary': 'Partly Cloudy',
    'temperature': 31.86,
    'time': 1485921600,
    'visibility': 10,
    'windBearing': 258,
    'windSpeed': 11.98}],
  'icon': 'snow',
  'summary': 'Snow (< 1 in.) starting overnight, continuing until morning, and breezy in the evening.'},
 'latitude': 42.28,
 'longitude': -83.74,
 'offset': -5,
 'timezone': 'America/Detroit'}

Webscraping DONE!

Hourly summary and temperature for that day.

In [74]:
for i, hr in enumerate(pastforecast["hourly"]["data"]):
    print(i, hr['summary'], hr['temperature'])

0 Clear 24.34
1 Foggy 25.03
2 Foggy 25.26
3 Light Snow 25.89
4 Snow 26.56
5 Light Snow 26.8
6 Light Snow 27.34
7 Overcast 27.42
8 Clear 27.49
9 Clear 28.38
10 Overcast 29.11
11 Clear 30.5
12 Clear 31.61
13 Overcast 33.03
14 Clear 33.76
15 Clear 34.04
16 Overcast 33.61
17 Clear 32.59
18 Clear 32.44
19 Overcast 32.25
20 Breezy 32.29
21 Breezy 32.48
22 Partly Cloudy 31.88
23 Partly Cloudy 31.86

**Note**: API responses come in a variety of flavours. Some common ones are JSON, XML, and CSV format. I recommend choosing JSON over XML whenever possible. XML is a pain to work with IMO. If you do choose XML, you can use `BeautifulSoup` or `ElementTree` to parse the data.

## API Wrappers

For the more popular APIs (like Twitter and Google), the open source community has probably written a Python wrapper for the API to abstract away some of the details for you. The Dark Sky API is pretty simple as you can see but someone has written a wrapper for it because of its popularity. The Python module is called `python-forecastio`. You can install it using `pip install python-forecastio`.

In [75]:
import forecastio

lon = -83.7
lat = 42.3
forecast = forecastio.load_forecast(apikey, lat, lon)

Accessing the data depends on the structure the developer set up which is not necessarily the same as the API. You will need to read the documentation of the module to understand the structure.

In [76]:
forecast.daily().data[0].summary

'Light rain in the morning.'

## Exercise

Using the Google Maps Distance Matrix API, get the the distance from Ann Arbor, MI to San Diego, CA and Anchorage, AK.

The documentation is located at https://developers.google.com/maps/documentation/distance-matrix/start

**Tip:** Don't worry about including the API key as a parameter. For some reason, it is not needed for this API to work.

## Example 5: POST Requests</font>

This example was taken from the book **Web Scraping with Python** by Ryan Mitchell.

This website http://pythonscraping.com/pages/files/form.html shows a basic web form. Let's look at the page source to see info related to the `post` request.

The page source contains the variable names of the two input fields which need to be submitted in the `<form>` tag. We create a dictionary to represent these fields.

In [77]:
data = {'firstname':'Mister',
        'lastname' :'Cao'}

There is an `action` attribute associated with the `post` request. This is the url where the `post` is being sent. This is a **relative** path to the current url.

In [78]:
R = requests.post("http://pythonscraping.com/pages/files/processing.php", data=data)
R.text

'Hello there, Mister Cao!'

We'll see in the next section a way to get at the same information through the browser's developer tool.

## Example 6: Farm Equipment Crashes in Ann Arbor (data that is not visible in the page source)

This example is meant to illustrate how to grab data that is visible on the webpage but not in the page source. The website of interest is https://www.michigantrafficcrashfacts.org/querytool. We are interested in grabbing the gps coordinates of the crashes on the map. The crashes also has some information in a popup tooltip when you click on it.

The goal is to find the URL where the GET/POST request is being sent. How do we do that? The answer lies in the reference link at the bottom of this example. Basically, you need your browser's developer tool and some detective work.  
[SHORT OVERLUDE TO THE WEBPAGE]

Congrats! You can consider yourself a developer now that you can use the toolbox :)

Now that we have found the URL of interest, we go back to our regularly scheduled programming (pun intended). Everything should be easy peasy moving forward. We know the url where the `post` request is being sent. There is also some data being sent with it. We will create a dictionary for that bit of data.

In [79]:
mtcf_url = r'https://www.michigantrafficcrashfacts.org/qjson'
query = {'q':'1;0;2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004;c8189;0,42:1',
        'v':'map',
        'p':'13,42.264652,-83.729607,0.3'}
R = requests.post(mtcf_url, data=query)
R.raise_for_status()

Grab json response

In [80]:
farm_data = R.json()
farm_data

{'0': {'crash.id': '2015156119',
  'crash_day': 14,
  'crash_month': 'July',
  'crash_time_of_day': '5:00 PM - 6:00 PM',
  'crash_worst_injury': 'Possible injury (C)',
  'crash_year': '2015',
  'gps_x_coordinate': -83.762084436151,
  'gps_y_coordinate': 42.2444715503,
  'person_id': '8',
  'seg_crnt': 10003762,
  'seg_orig': 0,
  'vehicle_id': '3'},
 '1': {'crash.id': '200578099',
  'crash_day': 9,
  'crash_month': 'February',
  'crash_time_of_day': '1:00 PM - 2:00 PM',
  'crash_worst_injury': 'No injury (O)',
  'crash_year': '2005',
  'gps_x_coordinate': -83.68753,
  'gps_y_coordinate': 42.24527,
  'person_id': '3',
  'seg_crnt': 4839525,
  'seg_orig': 0,
  'vehicle_id': '3'},
 '2': {'crash.id': '2015113037',
  'crash_day': 26,
  'crash_month': 'February',
  'crash_time_of_day': '8:00 AM - 9:00 AM',
  'crash_worst_injury': 'No injury (O)',
  'crash_year': '2015',
  'gps_x_coordinate': -83.78405039994,
  'gps_y_coordinate': 42.281289282301,
  'person_id': '2',
  'seg_crnt': 4818100,
  'seg_orig': 0,
  'vehicle_id': '2'},
 '3': {'crash.id': '2011112810',
  'crash_day': 23,
  'crash_month': 'May',
  'crash_time_of_day': '7:00 AM - 8:00 AM',
  'crash_worst_injury': 'No injury (O)',
  'crash_year': '2011',
  'gps_x_coordinate': -83.720369104399,
  'gps_y_coordinate': 42.261075358399,
  'person_id': '2',
  'seg_crnt': 4827523,
  'seg_orig': 0,
  'vehicle_id': '2'},
 'errors': [],
 'headers': {'crash.id': 'Crash ID',
  'crash_day': 'Crash Day',
  'crash_month': 'Crash Month',
  'crash_time_of_day': 'Crash Hour',
  'crash_worst_injury': 'Crash Worst Injury',
  'crash_year': 'Crash Year',
  'gps_x_coordinate': 'Crash Lat',
  'gps_y_coordinate': 'Crash Long',
  'person_id': 'Person Count',
  'seg_crnt': 'Road Segment',
  'seg_orig': 'Orig Segment',
  'vehicle_id': 'Unit Count'},
 'meta': [],
 'warnings': []}

Webscraping DONE!

## Reference

http://www.gregreda.com/2015/02/15/web-scraping-finding-the-api/

## Exercise

This website generates random VINs upon demand http://randomvin.com. This is probably one of the most simplest html page you will ever see (and one of the reasons I picked it).

Here is some example code to grab 3 VINs from the website. Supply the appropriate url to finish the code. What file format is the response?

In [ ]:
for i in range(3):
    R = requests.get('')
    R.raise_for_status()
    print(R.text)

# Retrying Module

This module is aptly name. Even though you have written valid code, sometimes it will still crash for unforseen reasons (e.g. bad network connection). This is where the `retry` behaviour becomes handy. You will need to install the module first via `pip install retrying`. Documentation is at https://pypi.python.org/pypi/retrying.

In [81]:
import random
from retrying import retry

## Simple Retry

Here is a simple case of how to use `retry`. First step is to put your code of interest in a function. This non-sensical function has a 90% chance of failing when run because of the `assert` statement.

In [82]:
def is_B_equal_to_lucky7():
    B = random.randint(1, 10)
    print(B)
    assert B == 7

is_B_equal_to_lucky7()
print('this has a 10% chance of printing')

8

AssertionError:

Now let's add the `retry` behavior by adding an @ decorator at the beginning of the function. That's it! Pretty simple.

In [84]:
@retry()
def is_B_equal_to_lucky7():
    B = random.randint(1, 10)
    print(B)
    assert B == 7
    
is_B_equal_to_lucky7()
print('this will ALWAYS print')

1
6
10
2
6
10
4
4
6
5
5
8
7
this will ALWAYS print

You can also add an argument `wait_fixed` in milliseconds to specify how long to wait between retries. Good practice so you don't have to bombard the server with constant requests during a failed connection during webscraping. Gmail does an exponential version of this when it loses the network connection.

## Retry on specific or general exceptions

We saw the function fail earlier because of an `AssertionError`. We can tell `retry` to only retry when certain exceptions occur.  This requires using the argument `retry_on_exception` and passing it the name of a function. The function will return either `True` or `False`.

In [85]:
def checkForSpecificError(exception):
    return isinstance(exception, AssertionError)

@retry(retry_on_exception=checkForSpecificError, wait_fixed=500)
def is_it_lucky7():
    B = random.randint(1, 10)
    print(B)
    assert B == 7

is_it_lucky7()
print("Lucky 7")

6
5
5
2
2
7
Lucky 7

If we had changed the last line in the function to `assert C == 7`, then the retry behaviour will not kick in because the function returns a `NameError`.

## Retry on return value

You don't necessarily need to have a program error to invoke the `retry` behaviour. You can use the `return` value to decide. This requires using the argument `retry_on_result` and passing it the name of a function. The function will return either `True` or `False`.

In [87]:
def checkReturnValue(value):
    return value is True

# This function will never crash but we can still use retry
@retry(retry_on_result=checkReturnValue, wait_fixed=300)
def main():
    B = random.randint(1, 10)
    print(B)
    try:
        assert B == 7
        return None
    except AssertionError:
        return True

main()
print('Did I find a 7?')

1
7
Did I find a 7?

Other arguments of interest to `retry` which you can use are:  
- stop_max_attempt_number
- stop_max_delay
- wait_random_min
- wait_random_max
- wait_exponential_multiplier
- wait_exponential_max`

**Note**: You could implement the retry behavior without this module. You can use a `while` loop in some combination with `try` and `except` too. I don't recommend it.

## Exercise

Apply the `retry` module to this flaky code for the Dark Sky API.
1. Convert to a Python function
2. Add `retry` module with at least one argument of your choice

In [ ]:
apikey = <INSERT API KEY HERE>
lon = random.randint(0,400)
lat = random.randint(0,200)
print(lon,lat) # Somewhere in the Eastern Hemisphere
R = requests.get('https://api.darksky.net/forecast/{}/{},{}'.format(apikey,lat,lon))
R.raise_for_status()
forecast = R.json()
print(forecast["daily"]["data"][0]['summary'])

# Quiz

https://goo.gl/forms/Ym3hbKu45nzQ2puv2

# Robots.txt

Also known as the robot exclusion standard, *robots.txt* is a standard used by website to communicate to web crawlers, scrapers etc. The robots.txt is a file that is used to communicate which parts of the website is allowed or disallowed to be scraped. You will find the robots.txt file in the root directory of the website. For the english version of wikipedia, it is located at https://en.wikipedia.org/robots.txt.  

The complement to *robots.txt* is the *sitemap* which is an XML file that lists the URLs for a site.

# cURL to Python Requests

cURL is a command line tool for getting or sending files using URL syntax. You can always get the cURL command from the developer tool. This usually also includes *cookies and headers*. While Python can't use it directly, you can convert it to a Python requests syntax. Googling *curl to python requests* will bring you to this page https://curl.trillworks.com/. You can paste the curl code and it will return the equivalent Python code for you. Python does have a module that is suppose to do this for you but I haven't gotten it to work yet. Some modules are `uncurl, runcurl, curl_to_requests` but they support Python2 only.

For example, here is what is returned for the curl cmd from http://random.vin.com.

In [ ]:
import requests

cookies = {
    '_ga': 'GA1.2.690271399.1483585728',
    '_gat': '1',
}

headers = {
    'Accept-Encoding': 'gzip, deflate, sdch',
    'Accept-Language': 'en-US,en;q=0.8',
    'User-Agent': 'Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.87 Safari/537.36',
    'Accept': '*/*',
    'Referer': 'http://randomvin.com/',
    'Connection': 'keep-alive',
}

requests.get('http://randomvin.com/getvin.php?type=real', headers=headers, cookies=cookies)