In [1]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

<hr>
# Introduction to SQL

By Alex Cao, Maggie Orton, Kaitlin Cornwell  


September 28, 2018  

<a href="http://cscar.research.umich.edu" target="_blank">CSCAR</a> at The University of Michigan

Please fill out the workshop sign-in <a href="https://goo.gl/forms/kLpPDHKlwZIV5ZpD2" target="_blank">here</a>

We'll practice SQL using the W3Schools online database <a href="https://www.w3schools.com/sql/trysql.asp?filename=trysql_select_all" target="_blank">here</a>

Hint: It may be easier to open multiple tabs. One tab can be used to complete the exercises while the other can be used to view the data.

Structured Query Language ("SQL") allows you to extract or change specific information in a relational database (i.e. a series of tables).

 MySQL, SQLite, PostgreSQL, MS SQL Server, etc. are all database management systems that rely on SQL. Each has its own special variety of SQL, but the general format of the queries is the same.

# SQL Queries

## Format
Series of commands followed by argument(s)

When dealing with multiple tables, identify a column name with `tablename.columnname`

End query with semicolon for multiple consecutive queries

## Style + Readability
Table names and column names can be case sensitive. Depends on the database.

SQL keywords are not case sensitive

Standard format: Commands in all-caps

Each command set on new line

## Comments
Single-line comments:

`--` begin line with two hyphens

Multi-line comments:

`\*` enclose comment in asterisk|slashes `\*`

# SELECT, FROM, AS
The `SELECT` command specifies the desired columns 

The `FROM` command specifies the table from which those columns should be selected

The `AS` command temporarily renames a column or table with the specified name (an "alias")

An `*` character selects all columns in a table

## Example
To retrieve all columns from this table, you would use the command: 

**SELECT *  
FROM Employees**

To retrieve only the name-related columns along with the corresponding birthdays from this table, you would use the command:

**SELECT LastName, FirstName, BirthDate  
FROM Employees**

To do the above while renaming the columns:

**SELECT LastName AS 'Family Name', FirstName AS Given, BirthDate AS [Birth Date]  
FROM Employees**

## Practice 1
In the Products table, retreive all columns except Unit. Rename the ProductName and Price, but call them "Item Name" and "Dollars". 

Include a comment in your solution.

# COUNT
`COUNT` returns the number of non-null results in the specified column or the number of non-null rows.

## Example
To count the number of non-null rows in the Employees table:

**SELECT COUNT(*)  
FROM Employees**

## Practice 2
Count the number of non-null values in ProductID and Quantity columms of the OrderDetails table.

# WHERE, AND, OR
The WHERE command retrieves rows that satisfy a given condition

Simple conditions:
- `=`          Equals  
- `!= or <>`   Does not equal
- `> or <`    Is greater/less than
- `>= or <=`  Is greater/less than or equal to

Additional conditions covered in following slides:
- `a AND b`
- `a OR b`
- `BETWEEN a AND b`
- `IN ('a','b','c')`
- `LIKE 'a'`

`BETWEEN`, `IN`, and `LIKE` can all be modified using the `NOT` keyword to retrieve rows that are not a match

## Example
Using the 'Employees' table again, suppose you want to retrieve all employee information for those born before 1960:
    
**SELECT *  
FROM Employees  
WHERE BirthDate < '1960-01-01'**
    
Note: BirthDate is of type string instead of date. This command works because the date is specified in the correct order: 'YYYY-MM-DD'.

Filtering out everyone whose last name is King:
    
**SELECT *  
FROM Employees  
WHERE LastName != 'King'**

Applying both filters: 

**SELECT *  
FROM Employees  
WHERE Lastname != 'King' AND BirthDate < '1960-01-01'**

Applying either filter:

**SELECT *  
FROM Employees  
WHERE Lastname != 'King' OR BirthDate < '1960-01-01'**

## Practice 3

Retrieve a list from the Orders table of orders starting in 1997 and with shipper IDs of at least 2, or orders that were shipped before 1997 and were sent from employee 3.

# BETWEEN, IN, and LIKE (wildcards)

## Between

The `BETWEEN` command gives a range of values (inclusive)

`BETWEEN` can be modified using the `NOT` keyword to retrieve rows that are not a match

## Example
To retrieve orders placed in January of 1997:
    
**SELECT *  
FROM Orders  
WHERE OrderDate BETWEEN '1997-01-01' AND '1997-01-31'**

## IN
The `IN` command gives multiple possible matching values

## Example

Retrieving Employee IDs, FirstName for employees not named Nancy or Andrew:

**SELECT EmployeeID, FirstName  
FROM Employees  
WHERE FirstName NOT IN ('Nancy', 'Andrew')**

## LIKE, wildcards
The `LIKE` command specifies a pattern to match, such as 'Nancy' or '1999'. 

### Wildcards

Wildcards are characters that stand in for a range of possible values. 

Wildcards include:  
`%` : A string of 0+ characters

`-` : A single character  

`[...]` : A single character from the range or list in the brackets  

`[^...]`, `[!...]`: A single character not from the range or list in the brackets  

Without any wildcards, `LIKE` will match only values equal to the exact pattern.

Note: The negative wildcard statement is not supported in the version of the SQL editor currently being used. Instead, you can practice the example <a href="https://www.w3schools.com/sql/trysql.asp?filename=trysql_select_wildcard_not_charlist&ss=-1" target="_blank">here</a>.

## Example
To match all customers with names starting with M, we use the query:

**SELECT *  
FROM Customers  
WHERE CustomerName Like 'M%'**

To match all customers with names starting with letters after D, we can use the query:

**SELECT *  
FROM Customers  
WHERE CustomerName Like '[!A-D]%'**

## Practice 4
1\. From the Suppliers table, retreive the SupplierName and ContactName for suppliers with IDs between 3 and 13 and who are located in Japan or Germany.

2\. From the Customers table, retrieve all information about customers from two- or three-letter named countries

3\. From the Customers table, retrieve the customer names from people whose contacts have a last name starting with S

# DISTINCT
The `DISTINCT` command retrieves only distinct combinations of the specified columns.

It is also commonly used in combination with `COUNT` to return the number of distinct combinations.

## Example
To retrieve all past combinations of employee IDs and shipper IDs:
    
**SELECT DISTINCT EmployeeID, ShipperID  
FROM Orders**

The version of SQL that is currently being used does not support the following syntax, but other versions may:

To count the distinct combinations of employee IDs and shipper IDs:

**SELECT COUNT(DISTINCT EmployeeID, ShipperID)  
FROM Orders**
    
Even if the version of SQL that you are using does not support this combination, there are other ways to do this. We will see examples later.

## Practice 5
Retrieve all distinct combinations of ProductID and Quantity from the OrderDetails table.

# ORDER BY, TOP, LIMIT

## Order By

`ORDER BY` sorts the results according to the specified columns. Default is ascending, but you can use `ASC`/`DESC` to specify the ordering.

## Example
To retrieve products ordered by price:

**SELECT ProductName, Price  
FROM Products  
ORDER BY Price DESC**

## TOP, LIMIT
`TOP` and `LIMIT` (syntax depends on type of database) retrieve only the first x results or percent of results; good for checking results before requesting a very large query or in combination with the `ORDER BY` command.

`LIMIT` is supported in MySQL and Oracle databases.

`TOP` is not supported in the program currently used.

### Example

To retrieve the ten most expensive products:
    
**SELECT TOP 10 ProductName, Price  
FROM Products  
ORDER BY Price DESC**
    
You can also use:
    
**SELECT ProductName, Price  
FROM Products  
ORDER BY Price DESC LIMIT 10**

To retrieve the top ten percent of products by price:

**SELECT TOP 10 PERCENT ProductName, Price  
FROM Products  
ORDER BY Price DESC**

To retreive rows not at the beginning or the end (e.g. to retreive 20 records starting at record 11):

**SELECT *  
FROM OrderDetails  
LIMIT 10, 20**

## Practice 6
From the Customers table, order the customers by city (ascending) and then by country (descending). Return rows 6 - 20.

# JOIN
`JOIN` connects two tables where the specified columns match

`INNER JOIN` - all rows where specified columns match (default)

`LEFT JOIN` - all rows from left table and matching rows in right table

`RIGHT JOIN` - all rows from right table and matching rows in left table

`FULL OUTER JOIN` - all rows from left and right table

`ANTI-JOIN/EXCLUDING JOIN` - all the rows from the left/right table that are not included in the other table

`SELF JOIN` - join one table with itself (uses same commands as other `JOIN` statements)

<img src="img\Visual_SQL_JOINS_orig.jpg"alt="Drawing" style="width: 400px;"/>
<a href="https://www.codeproject.com/Articles/33052/Visual-Representation-of-SQL-Joins" target="_blank">Source</a>

## Example
To retrieve all past combinations of customer names and employee IDs:

**SELECT CustomerName, EmployeeID, Orders.OrderID  
FROM Orders  
JOIN Customers  
ON Customers.CustomerID=Orders.CustomerID**

To retrieve all past combinations of customer names and employee last names:

**SELECT CustomerName, LastName, Orders.OrderID  
FROM Orders  
JOIN Employees  
ON Employees.EmployeeID=Orders.EmployeeID  
JOIN Customers  
ON Customers.CustomerID=Orders.CustomerID**

### Primary keys
A primary key is field that is a unique identifier to each record in a table. Each table can have only one primary key, but multiple columns can define a primary key (called a composite primary key).

### Foreign Keys
A foreign key is a field in a table that matches the primary key in a different table.
The table with the foreign key is called the child table, while the table containing the primary key is called the parent table.

Note: Foreign and primary keys are not required.

The database we are using does not support primary or foreign keys. You can see examples using primary keys and learn how to set them <a href="https://www.w3schools.com/sql/sql_primarykey.asp" target="_blank">here</a>, and you can see examples using foreign keys <a href="https://www.w3schools.com/sql/sql_foreignkey.asp" target="_blank">here</a>.

### Example
In the Customers table, CustomerID could be set as a primary key.
In the Orders table, OrderID could be set as a primary key while CustomerID would be a foreign key.

## Practice 7
Return the Products table with a column for the Supplier Name (found in the Suppliers table) included.

# GROUP BY, HAVING

## Group By
`GROUP BY` groups the rows according to their values in the selected column and then uses an "aggregate function" to create a new column with information about each group (of rows). 

Example aggregate functions:
- `COUNT()`
- `SUM()`
- `MAX()`
- `MIN()`
- `AVG()`

## Example
To retrieve the total number of each product ordered:
    
**SELECT ProductID, SUM(Quantity)  
FROM OrderDetails  
GROUP BY ProductID**

## HAVING
The `HAVING` command acts like a `WHERE` command for `GROUP BY`

## Example
To retrieve employees with more than fifteen orders in the Orders table:

** SELECT EmployeeID, COUNT(\*) AS EmployeeOrders  
FROM Orders  
GROUP BY EmployeeID  
HAVING EmployeeOrders > 15 **

## Practice 8
Using the OrderDetails table, retrieve product IDs for products with at least 100 total units ordered.

# UNION
`UNION` combines the results of 2+ `SELECT` queries.

Requirements: same number, type, and order of columns

Default is only distinct results; use `UNION ALL` for all results

## Example
To retrieve a combined list of all cities which have suppliers OR customers:


**SELECT City from Customers  
UNION  
SELECT City from Suppliers  
ORDER BY City**

## Practice 9
Using the Suppliers and Customers tables, retrieve a list of countries and cities containing both suppliers and customers.

# Subqueries

Subqueries are queries within a query. They allow you to query from more specific tables than are readily available to you. 

This technique can be used to count the number of distinct rows.

## Example
To get the number of distinct Employee IDs and Shippers

**SELECT COUNT(\*) AS NumRows  
FROM  
(SELECT DISTINCT EmployeeID, ShipperID  
FROM Orders)**
        
You can think of this as querying a table that you are not able to see. In this example, a table is made behind the scene that contains the results of `SELECT DISTINCT EmployeeID, ShipperID FROM Orders` (a table that contains one row per unique pair of EmployeeID and ShipperID). From that table, you then query using the `COUNT(*)` command. 

This can also be done with a `WHERE` statement.

## Practice 10

Using a subquery, retreive all of the columns from the Orders table that correspond to customers that live in Germany. 

(Hint: The Customers table contains information on where the Customer lives, and the Customers and Orders tables share the column CustomerID).

# Combining commands

You can combine as many commands as you like to make your queries as specific as you require. Pay careful attention to the order of the commands.

## Command order of operations
SELECT (TOP), DISTINCT  
FROM  
WHERE (BETWEEN | LIKE | IN)  
GROUP BY  
HAVING  
ORDER BY (ASC | DESC)  
LIMIT  
UNION (ALL)

## Practice 11
Retrieve a table with two columns: the customer's name, and the total number of orders made by that customer.

# Quiz
Test your SQL knowledge here:
https://goo.gl/forms/jgPcRXjX5QzDsQqE3

# Spatial Data in Databases

If you are working with spatial data (GPS or any geometry that has spatial points), you SHOULD be using a spatial database. 

Most modern databases have a spatial extension plugin.

This will make your life easier and allow you to do spatial queries that a regular database will not.

For example, assuming you have a table for Tim Hortons' locations with county as a column and a table for highways, you could answer the question:

Find all Tim Hortons in Washtenaw County that are within 0.5 mile of a highway.

# Food For Thought
<IMG SRC="img\screenshot.png" alt="Drawing" style="width: 2000px;">

<img src="img\foodforthought2.png"alt="Drawing" style="width: 400px;"/>

# More practice
1. Return a Table with the following 3 columns: CustomerID, CustomerName, Number of Orders (using the Customers and Orders tables)

    Have the table sorted by Number of Orders with the most orders at the top. Only include repeat customers

2. Return a Table with the following 3 columns: ProductID, ProductName, Qty Sold (using the Products and OrderDetails tables)

    Return only the top 10 products in descending order based on quantity sold.

3. Find out who your top 5 customers are based on how much money they've spent.

### Answers
SELECT ProductID, ProductName AS 'Item Name', SupplierID, CategoryID, Price AS Dollars
FROM Products

### Answers
SELECT COUNT(*) FROM OrderDetails

### Answers
SELECT * FROM Orders 
WHERE (OrderDate >= '1997-01-01' AND ShipperID > 1) OR (OrderDate <= '1997-01-01' AND EmployeeID == 3)

### Answers
1. SELECT SupplierName, ContactName FROM Suppliers WHERE SupplierID BETWEEN 3 AND 13 AND Country IN ('Japan','Germany') (5)
3. SELECT * FROM Customers WHERE Country LIKE '___' OR Country LIKE '__' \(13)
4. SELECT ContactName FROM Customers WHERE ContactName LIKE '% S%' (7)

### Answers
SELECT DISTINCT ProductID, Quantity FROM OrderDetails

### Answers
SELECT * FROM Customers ORDER BY City ASC, Country DESC LIMIT 6,15

### Answers
SELECT ProductID, ProductName, Products.SupplierID,	CategoryID, Unit, Price, SupplierName
FROM Products
JOIN Suppliers
ON Products.SupplierID = Suppliers.SupplierID

### Answers
SELECT ProductID, SUM(Quantity)   
FROM OrderDetails  
GROUP BY ProductID  
HAVING SUM(QUANTITY) >= 100

### Answers
SELECT Country, City from Customers  
UNION  
SELECT Country, City from Suppliers  
ORDER BY City

### Answers

SELECT * FROM [Orders]
WHERE CustomerID IN (
    SELECT CustomerID FROM Customers  
    WHERE Country="Germany"
)

### Answers
SELECT CustomerName, COUNT(Orders.CustomerID)
FROM Customers
JOIN Orders
ON Customers.CustomerID = Orders.CustomerID
GROUP BY Customers.CustomerID

### Answers
1. 
SELECT Customers.CustomerID, CustomerName, COUNT(OrderID)
FROM Customers
JOIN Orders
ON Customers.CustomerID = Orders.CustomerID
GROUP BY Customers.CustomerID
HAVING COUNT(OrderID) > 1
ORDER BY COUNT(OrderID) DESC

2. 
SELECT Products.ProductID, ProductName, SUM(Quantity)
FROM Products
JOIN OrderDetails
ON Products.ProductID = OrderDetails.ProductID
GROUP BY Products.ProductID
ORDER BY SUM(Quantity) DESC
LIMIT 10

3. 
SELECT CustomerName
FROM Customers
JOIN Orders
ON Customers.CustomerID = Orders.CustomerID
JOIN OrderDetails
ON Orders.OrderID = OrderDetails.OrderId
JOIN Products
ON OrderDetails.ProductID = Products.ProductID
GROUP BY Customers.CustomerID
ORDER BY SUM(Quantity*Price) DESC
LIMIT 5